.storeDetail__menu > div {
  margin-bottom: 30px;
  padding-right: 10%;
  box-shadow: 1px 2px 0px lightgray;
  overflow: hidden;
}

@media screen and (max-width: 992px) {
  .storeDetail__menu > div {
    font-size: 0.9em !important;
  }
}

@media screen and (max-width: 768px) {
  .storeDetail__menu > div {
    font-size: 0.85em !important;
    max-height: 130px !important;
  }
  .storeDetail__menu > div img {
    max-height: 130px !important;
  }
}

@media screen and (max-width: 524px) {
  .storeDetail__menu > div {
    font-size: 0.75em !important;
    max-height: 90px !important;
  }
  .storeDetail__menu > div img {
    max-height: 90px !important;
  }
}

.storeDetail__review div {
  margin: 30px 15px;
  border-bottom: 1px solid gray;
  box-shadow: 0px 1px 0px grey;
  padding-bottom: 25px;
}

.storeDetail__similarStore {
  display: table;
  vertical-align: middle;
}

.storeDetail__similarStore div {
  display: table-row;
}

.storeDetail__similarStore rating {
  color: #6EEC3C;
  font-size: 1.4em;
}
