.storeDetail {
    margin-top: 25px;
    font-size: 1.2em;
    
    h2 { 
        font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
        color:#484848 !important;
        font-size: 28px !important;
        font-weight: 700 !important;
        letter-spacing: 0.6px !important;
        line-height: 32px !important;
        margin-bottom: 50px;
    }

    &__photo {
        @media screen and (max-width:585px) {
            width: 100% !important;
        }

        &__main {
            border: 1px dashed white;
            overflow: hidden;
            text-align: center; 
            height:auto;
            img {
                display: block;
                max-height: 360px;
                border: 1px dashed white;
                box-shadow: 0 0  2px #4375FF;
                width: 100%;
                height: auto;
                border-radius: 5px;
            }
        }

        &__minor {
            height: auto;
            div {
                margin-top: 5px;
                overflow: hidden;
                padding: 15px 5px !important;
                border: 1px dashed white;
                box-shadow: 0 0  2px #4375FF
            }
            img {
                display: block;
                max-height: 100px;
                width: 100%;
                height: auto;
            }
        }
    }

    &__info {
        
        @media screen and (max-width:585px) {
            width: 100% !important;
        }   
        h2 {
            // height: 50px;
            padding-left:20%;
            color:#484848 !important;
            // font-size: 28px !important;
            font-weight: 700 !important;
            letter-spacing: 1.2px !important;
            line-height: 32px !important;
            // span {
            //     float:right;
            // }
        }
        &__rating {
            // text-align: left;
            padding-left: 0px !important; 
        }
        div {
            position: relative;
            padding-left: 45px;
            line-height: 270%;
            span {
                position: absolute;
                left: 18px;
            }
        }

        i:hover {
            cursor: pointer;
            // color: orangered;
        }

        .fa-heart {
            color:red
        }

    }

    &__map {
        map {
            height: 120%;
          margin-bottom: 0 !important; 
        }
        
        &__note {
            background-color: peachpuff;
            font-family: 'Courier New', Courier, monospace;
            text-align: center
        }
    }
}