<div class="product-item col-xs-12 col-sm-12" *ngIf="productModel !== undefined && productModel != null">
  <div class="image row">
    <a [routerLink]="['/product', productId]" (click)="getProductDetail()">
      <img [src]="productModel.images.length>0?productModel.images[0].path:imageDefault" alt="Image Product">
    </a>
  </div>

  <bs-rating [id]="productModel.product?.id" [rating]="productModel.product.rating" [ratingCount]="productModel.product?.ratingCount"></bs-rating>

  <h4>{{ productModel.product.name }}</h4>

  <h5>{{ productModel.product.price | currency:'vnd':4.0}}</h5>
</div>
