.product-item {
  height: 250px;
}

.product-item .image {
  width: 180px;
  height: 150px;
  overflow: hidden;
  margin-bottom: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #c5c5c5;
}

.product-item h4, .product-item h5 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}
