<div class="result-item col-xs-12 col-sm-12">
    <div class="row-item filter-result-item">
      <div class="ri-avatar result-image">
        <a href="" [title]="productModel?.product.name" [routerLink]="['/product', enCodeUrl(productId)]">
          <img [src]="productModel.images.length > 0 ? productModel.images[0].path : imageDefault" [alt]="productModel.product.name" (error)="handelImgErro($event)">
          <ng-template [ngIf]="productModel.images.length > 1">
            <div class="overlay">
              <img [src]= "productModel?.images[1].path" [alt]="productModel.product.name" (error)="handelImgErro($event)">
            </div>
          </ng-template>
        </a>
      </div>

      <div class="row-view-right">
        <div class="result-name">
          <div class="status">
            <div class="point highlight-text">{{productModel.product.rating?productModel.product.rating:'--'}}</div>
          </div>

          <div class="resname">
            <h2>
              <a [routerLink]="['/product', enCodeUrl(productId)]" [title]="productModel.product.name+ ' - '+ productModel.store.name">{{productModel.product.name+ ' - '+ productModel.store.name}}</a>
            </h2>
            <div class="result-address">
              <div class="address">
                <a [routerLink]="['/product', enCodeUrl(productId)]"  [title]="productModel.store.address +', '+productModel.store.district">
                  <span data-bind="text: Address">{{productModel.store.address}}</span>,
                  <span data-bind="text: District">{{productModel.store.district}}</span>,
                  <span data-bind="text: City">{{productModel.store.city}}</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="price">
          <span>
            <i class="fa fa-money" style="font-size:20px;vertical-align: middle"></i>
          </span>
          <span> {{productModel.product.price | number}} đ </span>
        </div>

        <div class="result-stats" style="border-bottom: 1px solid #eee;height:26px;">
          <div class="suggest-opentime" *ngIf="checkOpenStore(productModel.store.openHour,productModel.store.closeHour);else closeStore">
            <span class="suggest suggest--online"></span>
            <span class="suggest-text suggest-text--opentime">Đang mở cửa</span>
            <span style="float:right">
              <span class="fa fa-comment" style="font-weight: normal;"></span>
              <span data-bind="text: TotalReview.formatK(1)">{{productModel.product.ratingCount?productModel.product.ratingCount:'0'}}</span>
            </span>
          </div>

          <ng-template #closeStore>
            <div class="suggest-opentime">
              <span class="suggest suggest--offline"></span>
              <span class="suggest-text suggest-text--closetime">Đang đóng cửa</span>
              <span style="float:right">
                <span class="fa fa-comment" style="font-weight: normal;"></span>
                <span data-bind="text: TotalReview.formatK(1)">{{productModel.product.ratingCount?productModel.product.ratingCount:'0'}}</span>
              </span>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>

