.image {
<<<<<<< HEAD
=======
  max-width: 100%;
>>>>>>> b793ff6e95ce3d5e7b570a9ab5c47e04bc00f82b
  max-height: 220px;
  overflow: hidden;
  margin-bottom: 3px;
  border-radius: 3px;
  box-shadow: 2px 2px 2px #c5c5c5;
}

h4, h5 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

  max-width: 100%;