<div class="container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" *ngFor="let img of slider; let i = index">
          <li data-target="#myCarousel" data-slide-to="i" [ngClass]="[i === 0 ? 'active' : '']"></li>
      </ol>
  
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
          <div *ngFor="let img of slider; let i = index" [ngClass]="[i === 0 ? 'item active' : 'item']">
              <img src={{img.src}} alt="Los Angeles" style="width:100%;">
              <div class="carousel-caption">
                <h3>{{img.name}}</h3>
                <p>{{img.title}}</p>
              </div>
          </div>
  
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
</div>