<!-- <button type="button" class="btn btn-primary" (click)="openModal(signup)">Sign Up</button> -->

<!-- <ng-template #signupModal> -->
<!-- <div class="modal fade" bsModal #signupModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body form-signup">
        <div>
          <button type="button" class="close" aria-label="Close" (click)="signupModal.hide()">
          <span aria-hidden="true"><i class="fa fa-times fa-1x"></i></span>
        </button>
        </div>
        <button class="btn btn-primary btn-signup-facebook btn-lg"><i class="fa fa-facebook"></i>Đăng Nhập với Facebook</button>
        <button class="btn btn-default btn-signup-google btn-lg"><i class="fa fa-google"></i>Đăng Nhập với Google</button>

        <div class="line-signup">
          <div></div>
          <span>or</span>
        </div>
        <button type="button" class="btn btn-signup-email btn-lg" (click)="showSecondModal();"><i class="fa fa-email"></i>Đăng ký bằng Email</button>
        <hr/>
        <p>Đã có tài khoản iFoody? <a href="#">Đăng Nhập</a></p>
      </div>
    </div>
  </div>
</div> -->
<!-- </ng-template> -->



<div class="modal fade signupModal" bsModal #signupModal="bs-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div>
        <div class="modal-body form-signup-by-email ">
          <div>
            <button type="button" class="close" aria-label="Close" (click)="signupModal.hide()">
            <span aria-hidden="true"><i class="fa fa-times fa-1x"></i></span>
          </button>
          </div>

          <div class="signup-social">
            Đăng Nhập với <a href="#">Facebook</a> or <a href="#">Google</a>
          </div>
          <div class="line-signup">
            <div></div>
            <span>or</span>
          </div>

          <div class="md-errors-spacer" [hidden]="email.valid || email.untouched">
            <div  *ngIf="email.errors && email.errors.required">
                Email is required
            </div>
            <div  *ngIf="email.errors && email.errors.pattern">
                Email is invalid
            </div>
        </div>

          <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div>
            <input type="text" #email formControlName="email" class="form-control input-lg" placeholder="Email..." required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
              <i class="fa fa-envelope fa-2x"></i>
            </div>

            <!-- <div>
              <input type="text" formControlName="gender" class="form-control input-lg" placeholder="Gender...">
              <i class="fa fa-venus-mars fa-2x"></i>
            </div> -->
            <div>
              <select class="form-control input-lg" id="gender" formControlName="gender" >
                <option [ngValue]="null">Chọn giới tính...</option>
                <option value="1">Nam</option>
                <option value="0">Nữ</option>
              </select>
            </div>

            <div>
              <input type="text" formControlName="lastName" class="form-control input-lg" placeholder="Last name...">
              <i class="fa fa-user fa-2x"></i>
            </div>

            <div>
              <input type="text" formControlName="firstName" class="form-control input-lg" placeholder="First name...">
              <i class="fa fa-user-circle fa-2x"></i>
            </div>

            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="">
                  <div class="input-group">
                    <input type="text" formControlName="birthday" class="form-control input-lg" bsDatepicker #dp="bsDatepicker" [(bsValue)]="bsValue" placeholder="Date of Birth...">
                    <div class="input-group-btn">
                      <button type="button" class="btn btn-success btn-calendar" (click)="dp.toggle()"><i class="fa fa-calendar fa-2x"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <input type="password" formControlName="password" class="form-control input-lg" placeholder="Password...">
              <i class="fa fa-lock fa-2x"></i>
            </div>

            <div>
              <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Confirm Password...">
              <i class="fa fa-lock fa-2x"></i>
            </div>


            <div>
              <input type="checkbox" formControlName="readPolicy" class="form-control input-md">
              <span>Tôi đã đọc và chấp nhận những điều khoản của iFoody.</span>
            </div>

            <button type="submit" class="btn btn-success btn-signup btn-lg">ĐĂNG KÝ</button>
          </form>

          <div class="line-signup">
            <div></div>
          </div>
          <p>Đã có tài khoản iFoody? <a href="#">Đăng Nhập</a></p>
        </div>
      </div>
    </div>
  </div>
</div>