<!-- <div class="google-map">
  <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
</div> -->
<!-- <div style="background-color:greenyellow" (click)="testFunc1()">Test</div>  -->


<div id='map' style="text-align: center; font-weight:bold; margin: 0 20px">
	<p style="font-size: 1.8em">Maps is loading...</p>
	<i class="fa fa-spinner fa-spin" style="font-size:36px"></i>
</div>
<!-- <script type="text/javascript" src="../../../../assets/lib/map.js"></script> -->
<!-- <script>
	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			zoom: 8
		});
	}
</script> -->


					