<!-- <div class="google-map">
  <agm-map [latitude]="lat" [longitude]="lng"></agm-map>
</div> -->
<!-- <div style="background-color:greenyellow" (click)="testFunc1()">Test</div>  -->


<div id='map'>maps error</div>
<div>
    <input id="address" type="textbox" value="Sydney, NSW">
    <input type="button" value="Encode" onclick="codeAddress()">
  </div>
<!-- <script type="text/javascript" src="../../../../assets/lib/map.js"></script> -->
<!-- <script>
	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
			center: {lat: -34.397, lng: 150.644},
			zoom: 8
		});
	}
</script> -->


					