.store-item{
    min-height: 60px;
    margin-bottom: 10px;
    width: 100%;
    img{
        border-radius: 50%;
    }
    &__name{
        position: absolute;
        top:5px;
        left:90px;
        font-weight: bold;
    }
    &__address{
        position: absolute;
        top: 30px;
        left: 90px;
        cursor: pointer;
    }
    .text-overflow{
        width: calc(100% - 100px);
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
    .btnSetting{
        //position: absolute;
        top: 30px;
        margin-bottom: 5px;
        right: 0px;
        button{
            margin-left: 10px!important;
        }
    }
    .store-type{
        span{
            //position: absolute;
            top:5px;
            font-weight: bold;
        }
    }
    .mat-select {
        padding-top: 10px;
    } 
    /deep/ .mat-select-placeholder{
        color: #092fff;
    }
    .display{
        opacity: 0;
    }       
}