<div class="store-item col-sm-12 col-xs-12">
  <div class="row">
    <div class=" col-md-offset-1 col-md-3 col-sm-6 col-xs-6">
      <img src={{avatar}}/>
      <span class="store-item__name text-overflow">{{name}}</span>
      <span class="store-item__address text-overflow"><a href="#">{{address}}</a></span>
    </div>

    <div class="col-md-2 col-sm-6 store-type col-xs-6">
      <span class="row no-margin" [ngClass]="index!=0 ?  'display' : ''">Loại</span>
      <md-select floatPlaceholder="never" placeholder={{type}} class="row no-margin">
        <md-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </md-option>
      </md-select>
    </div>

    <div class="button-row col-md-6 col-sm-12 col-xs-12 btnSetting">
      <button md-raised-button color="warn" class="pull-right">Xóa</button>
      <button md-raised-button color="primary" class="pull-right">Chỉnh sửa</button>
      <button md-raised-button color="primary" class="pull-right">Phê duyệt</button>
    </div>

  </div>
</div>