<div class="searchBar input-group" id="searchBarParents">
  <input [(ngModel)]="name" type="search" class="form-control searchBar__byName" name="name" placeholder="Tìm món ăn..." />

  <input [(ngModel)]="area" type="search" class="form-control searchBar__byLocation" name="area" placeholder="Chọn khu vực"
    (click)="isAreaCollapsed = !isAreaCollapsed">

  <a [routerLink]="['/search']" (click)="setSearchQueryParam()">
    <small><span class="glyphicon glyphicon-search"></span></small>
  </a>
  <!-- ///////////////////// -->
  <div  class="parents-well">
    <div class="well well-lg well-search-area">
      <div class="row well-search-area">
        <mat-checkbox *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" class="col-xs-12 col-sm-6 col-md-6">Quận {{i}}</mat-checkbox>
        <mat-checkbox *ngFor="let district of districts" class="col-xs-12 col-sm-6 col-md-6">Quận {{district}}</mat-checkbox>
      </div>
    </div>
  </div>
</div>

<!-- [queryParams]="{name:name.value,area:area.value}"  -->
