<div class=" searchBar input-group">
  <div class="dropdown">
    <input [(ngModel)]="name" class="form-control searchBar__byName dropdown-toggle" name="name" placeholder="Món ăn, địa điểm, loại hình ..."
      type="search" data-toggle="dropdown" />
      <!-- GỢI Ý SẢN PHẨM -->
    <ul class="dropdown-menu ">
      <div>Gợi ý tìm kiếm</div>
      <li class="advertising" *ngFor="let result of [1,2,3,4]">
        <a href="https://www.foody.vn/ho-chi-minh/yume-sushi-restaurant" target="blank" class="suggestion-box-item" title="tên store">
          <div class="suggestion-box-item-left">
            <img src="https://images.foody.vn/res/g68/674961/prof/s128x80/foody-mobile-1-jpg.jpg" alt="Yume Sushi Restaurant" title="Yume Sushi Restaurant">
          </div>
          <div class="suggestion-box-item-right">
            <div class="suggestion-box-item-right-res-name">Yume Sushi Restaurant</div>
            <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">Giảm&nbsp;10% đặt bàn qua TableNow&nbsp;
            </div>
          </div>
          <div class="suggest-opentime"><span class="suggest-online"></span><span class="suggest-opentime-text">Đang mở cửa</span></div>
          <div class="clear"></div>
        </a>
      </li>
    </ul>
  </div>


  <input [(ngModel)]="area" type="search" class="form-control searchBar__byLocation" name="area" placeholder="Chọn khu vực"
    (click)="isAreaCollapsed = !isAreaCollapsed">

  <a [routerLink]="['/search']" (click)="setSearchQueryParam()">
    <span class="glyphicon glyphicon-search"></span>
    <!-- <i class="fa fa-search" aria-hidden="true"></i> -->
  </a>

  <div (collapsed)="areaCollapsed($event)" (expanded)="areaExpanded($event)" class="card card-block card-header" [collapse]="isAreaCollapsed">
    <div class="well well-lg">
      <div class="row">
        <div *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12]" class="col-xs-12 col-sm-6 col-md-6">
          <mat-checkbox>Quận {{i}}</mat-checkbox>
        </div>
        <div *ngFor="let district of districts" class="col-xs-12 col-sm-6 col-md-6">
          <mat-checkbox>Quận {{district}}</mat-checkbox>
        </div>
      </div>
    </div>
  </div>



</div>

<!-- [queryParams]="{name:name.value,area:area.value}"  -->
