<div class=" searchBar input-group" id="searchBarParents">
  <div class="" id="searchNameBarParents">
    <input [(ngModel)]="searchString" class="form-control searchBar__byName" name="name" placeholder="Món ăn, địa điểm, loại hình..."
      autocomplete="off" (keyup.enter)="setSearchQueryParam(false)" (ngModelChange)="handelChangeSearchBar()" (click)="searchString==''?getSuggestionList():false"
    />
    <!-- GỢI Ý SẢN PHẨM -->
    <div class="parents-well">
      <div class="well well-lg well-search-name">
        <div class="row well-search-name">
          <ul class="col-xs-12 col-sm-12 col-md-12">
            <ng-template [ngIf]="suggestionList.length>0">
              <div class="col-xs-6 col-sm-6 col-md-6">Gợi ý tìm kiếm</div>

              <div class="col-xs-6 col-sm-6 col-md-6 moreResult" (click)="setSearchQueryParam(false)">
                Xem thêm
              </div>

              <li class="advertising col-xs-12 col-sm-12 col-md-12" *ngFor="let result of suggestionList[0].results">
                <a [routerLink]="['/store', result.store.id]" class="suggestion-box-item" title="result.store.name">
                  <div class="suggestion-box-item-left">
                    <img [src]="result.images.length>0?result.images[0].path:imageDefault" (error)="handelImgErro($event)" alt="result.store.name"
                      title="result.store.name">
                  </div>
                  <div class="suggestion-box-item-right col-xs-12 col-sm-12 col-md-10">
                    <div class="suggestion-box-item-right-res-name">{{result.store.name}}</div>
                    <div class="suggestion-box-item-right-res-descr" style="white-space: normal;">{{result.store.address + ", " + result.store.district}}
                    </div>
                  </div>
                  <div class="suggest-opentime" *ngIf="checkOpenStore(result.store.openHour,result.store.closeHour);else closeStore">
                    <span class="suggest suggest--online"></span>
                    <span class="suggest-text suggest-text--opentime">Đang mở cửa</span>
                  </div>

                  <ng-template #closeStore>
                    <div class="suggest-opentime">
                      <span class="suggest suggest--offline"></span>
                      <span class="suggest-text suggest-text--closetime">Đang đóng cửa</span>
                    </div>
                  </ng-template>

                  <div class="clear"></div>
                </a>
              </li>
            </ng-template>

            <ng-template [ngIf]="suggestionList.length==0&&!isNotFound">
              <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center">
                <div>
                  <i class="fa fa-spinner fa-spin" style="font-size:36px"></i>
                </div>
              </div>
            </ng-template>

            <ng-template [ngIf]="suggestionList.length==0&&isNotFound">
              <div class="col-xs-12 col-sm-12 col-md-12" style="text-align:center">
                <img src="./assets/images/search/icon_noresult.png" style="max-width:100%" />
              </div>
            </ng-template>

          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="searchLocationBarParents">
    <input type="button" class="form-control searchBar__byLocation" autocomplete="false" value="Chọn khu vực">

    <a (click)="setSearchQueryParam(true)" [ngClass]="[suggestionList.length==0 || searchString.trim()==''? 'not-active' : '']">
      <small>
        <span class="glyphicon glyphicon-search"></span>
      </small>
    </a>
    <!-- ///////////////////// -->
    <div class="parents-well">
      <div class="well well-lg well-search-area">
        <div class="row well-search-area">
          <mat-checkbox *ngFor="let district of districts" class="col-xs-12 col-sm-6 col-md-6" [value]="'quận '+ district" (change)="chooseDistrict($event)">Quận {{district}}</mat-checkbox>
        </div>
      </div>
    </div>


  </div>

  <!-- [queryParams]="{name:name.value,area:area.value}"  -->
