.searchBar {
  width: 100%;
}

.searchBar__byName {
  width: 60% !important;
}

.searchBar__byLocation {
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  width: 40% !important;
}

.searchBar span {
  font-size: 1.2em;
  z-index: 20;
  float: right;
  top: -25px;
  cursor: pointer;
  padding-right: 0;
}

.searchBar span:hover {
  color: grey;
}

.searchBar input[type="search"]::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: grey;
}

.searchBar input[type="search"]::-moz-placeholder {
  /* Firefox 19+ */
  color: grey;
}

.searchBar input[type="search"]:-ms-input-placeholder {
  /* IE 10+ */
  color: grey;
}

.searchBar input[type="search"]:-moz-placeholder {
  /* Firefox 18- */
  color: grey;
}

.searchBar .form-control:first-child {
  border-radius: 8px 0px 0px 8px !important;
}

.searchBar .form-control:nth-child(2) {
  border-radius: 0px 8px 8px 0px !important;
}
