.searchBar{
    width: 100%;
    &__byName{
        width:60%!important;
    }
    &__byLocation{
        border-top-right-radius: 4px!important;
        border-bottom-right-radius: 4px!important;
        width:40%!important;
    }
    span{
       font-size: 1.2em; 
       z-index: 20;
       float: right;
       top:-25px;
       cursor: pointer;
       padding-right: 0;
    }
    span:hover{
        color: grey;
    }
    input[type="search"]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: grey;
        //font-weight: bold;
      }
    input[type="search"]::-moz-placeholder { /* Firefox 19+ */
        color: grey;
        //font-weight: bold;
    }
    input[type="search"]:-ms-input-placeholder { /* IE 10+ */
        color: grey;
        //font-weight: bold;
    }
    input[type="search"]:-moz-placeholder { /* Firefox 18- */
        color: grey;
        //font-weight: bold;
    }  

    .form-control:first-child {
        transform: scaleY(1.3) !important;
        transform: scaleX(1.15) !important;
        border-radius: 8px 0px 0px 8px!important;
    }

    .form-control:nth-child(2) {
        transform: scaleY(1.3) !important;
        transform: scaleX(1.15) !important;
        border-radius: 0px 8px 8px 0px!important;
    }
}

