<div class="row review"  *ngFor="let reviewModel of reviewsModel">
  <div class="col-xs-12 col-sm-12 review__head">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="review__head__avatar">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        <div class="review__head__username">{{ reviewModel.user.lastName}} {{ reviewModel.user.firstName }}</div>
      </div>

      <div class="col-xs-6 col-sm-8 review__head__rating">
        <div class="row">
          <div class="col-xs-12 col-sm-4 pull-right">
            <rating [ngModel]="reviewModel.review.rating | number: '1.0-0'"
                  [max]="max" [readonly]="true" 
                  (onHover)="hoveringOver($event)"
                  class="filled pull-right ratingReview">
            </rating>
          </div>
          <div class="col-xs-12 col-sm-8 pull-left">
            <span class="pull-right">{{ reviewModel.review.date | date:'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  
  <div class="col-xs-12 col-sm-12  review__content no-pad-left-right">
    <div class="jumbotron">
      {{ reviewModel.review.reviewContent }}
    </div>
  </div>
</div>


<div class="row review">
  <div class="col-xs-12 col-sm-12 review__head">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="review__head__avatar">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        <div class="review__head__username">{{ currentUser?.lastName }} {{ currentUser?.firstName }}</div>
      </div>

      <div class="col-xs-6 col-sm-8 review__head__rating">
        <div class="row">
          <div class="col-xs-12 col-sm-4 pull-right">
            <rating [(ngModel)]="newRate"
                  [max]="max" [readonly]="isReadonly" 
                  (onHover)="hoveringOver($event)"
                  class="filled pull-right ratingReview ">
            </rating>
          </div>
          <div class="col-xs-12 col-sm-8 pull-left">
            <span class="pull-right">{{ today | date:'dd/MM/yyyy'  }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12  review__content__new no-pad-left-right">
    <!-- <div class="jumbotron"> -->
      <input class="input-lg" [(ngModel)]="newReviewContent" (ngModelChange)="newReviewContent = $event" placeholder="Đánh giá của bạn về sản phẩm...."/>
    <!-- </div> -->
  <button type="button" (click)="onSubmit()" class="review__footer__btn pull-right btn btn-primary">Gửi</button>
  
  </div>
  
  <div class="col-xs-12 col-sm-12  review__footer">
    <!-- <md-button class="md-raised review__footer__btn">Gửi</md-button> -->
  </div>
</div>