<div class="row review"  *ngFor="let reviewModel of reviewsModel">
  <div class="col-xs-12 col-sm-12 review__head">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <div class="review__head__avatar">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        <div class="review__head__username">{{ reviewModel.user.lastName}} {{ reviewModel.user.firstName }}</div>
      </div>

      <div class="col-xs-6 col-sm-8 review__head__rating">
        <div class="row">
          <div class="col-xs-12 col-sm-4 pull-right">
            <rating [(ngModel)]="reviewModel.review.rating" [max]="max" [readonly]="true" (onHover)="hoveringOver($event)" [titles]="['one','two','three']"
              class="filled pull-right"></rating>
          </div>
          <div class="col-xs-12 col-sm-8 pull-left">
            <span class="pull-right">{{ reviewModel.date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12  review__content no-pad-left-right">
    <div class="jumbotron">
      {{ reviewModel.review.reviewContent }}
    </div>
  </div>

  <div class="col-xs-12 col-sm-12  review__footer">
    <!-- <md-button class="md-raised review__footer__btn">Gửi</md-button> -->
    <button md-raised-button class="review__footer__btn pull-right warn">Gửi</button>
  </div>
</div>