.similarProduct {
  font-size: 1.2em;
}

.similarProduct__photo {
  height: 120px;
  overflow: hidden;
}

.similarProduct__photo img {
  max-height: 120px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #A095A3;
}

.similarProduct__content h3 {
  margin-top: 0;
  height: 40px;
}

.similarProduct__content h3 span {
  float: right;
}

.similarProduct__content div {
  height: 40px;
}

.similarProduct__content div :last-child {
  margin-bottom: 0;
}
