<div class="similarProduct col-xs-6 col-sm-6" *ngFor="let similarProduct of similarProducts">
  <div class="row">
    <div class="similarProduct__photo col-xs-5 col-sm-5">
      <img [src]="similarProduct.images[0].path" alt="similarProduct.name">
    </div>

    <div class="similarProduct__content  col-xs-7 col-sm-7">
      <h3>{{ similarProduct.product.name }}<span><i class="fa fa-heart-o fa-1x"></i></span></h3>
      <div>{{ similarProduct.product.price | currency:'vnd':4.0 }}</div>
    </div>
  </div>
</div>