<form [formGroup]="inputForm" (ngSubmit)="onSubmit(inputForm.value)">
    <div>
      <input type="password" formControlName="oldPassword" class="form-control input-lg" placeholder="Old Password...">
      <i class="fa fa-unlock-alt fa-2x"></i>
    </div>

    <div>
      <input type="password" formControlName="newPassword" class="form-control input-lg" placeholder="New Password...">
      <i class="fa fa-lock fa-2x"></i>
    </div>

    <div>
      <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Confirm New Password...">
      <i class="fa fa-lock fa-2x"></i>
    </div>
    
    <button type="submit" class="btn btn-warning">Save</button>
</form>
