<login #login></login>
<signup #signup></signup>

<div class="iFoodyNav">
  <nav class="navbar navbar-inverse" (window:resize)="onResize($event)" [ngClass]="isMobile ?  '' : 'navbar-fixed-top'">
    <div class="container-fluid col-md-12 no-padding">
      <div class="navbar-header col-md-9 col-sm-8 col-xs-12 no-padding-left-right">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div>
          <div class="col-md-3 col-sm-4 col-xs-2">
            <a routerLink="/home" class="navbar-brand row no-padding-left-right no-margin-left-right  ">
                  <img src="../../../../assets/images/core/logo.png" alt="logoApp" id="logoApp">
                  <span>{{nameApp}}</span>
                </a>
          </div>
          <div class="col-md-9 col-sm-8 col-xs-8">
            <search-bar class="searchBar"></search-bar>
          </div>
        </div>
      </div>
      <div class="collapse navbar-collapse col-md-3 col-sm-4 col-xs-12" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">

          <ng-template [ngIf]="userId && !hasStore">
            <li><button type="button" class="btn btn-link btn-open-store" (click)="redirect('open-store')">Mở cửa hàng</button></li>
          </ng-template>

          <!-- <li><a routerLink="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
          <ng-template [ngIf]="!userId">
            <li>
            <button  type="button" class="btn btn-link btn-login" (click)="signup.show()">Đăng Ký</button>
              </li>

            <!-- <li><button type="button" class="btn btn-link btn-signup" (click)="signup.show()">Đăng Ký</button></li> -->
          </ng-template>

          <ng-template [ngIf]="userId">
            <!-- <li> -->
              <!-- <button  class="btn btn-link btn-login" (click)="login.show()"><span class="glyphicon glyphicon-user"></span> {{userName}}</button> -->
              <!-- Doing -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{userName}}</a>
                   <ul class="dropdown-menu" role="menu">
                      <li>
                        <a [routerLink]="[x.url, x.param]"  *ngFor="let x of urls">{{x.name}}</a>
                      </li>
                      <li class="divider"></li>
                      <li><a routerLink="/" (click)="signOut()">Thoát</a></li>
                   </ul>
               </li>
              <!-- End Doing -->
          </ng-template>

          <ng-template [ngIf]="!userId">
              <li>
              <button  type="button" class="btn btn-link btn-login" (click)="login.show()">Đăng Nhập</button>
            </li>
            </ng-template>
          </ul>
      </div>
    </div>
  </nav>
  <search-bar class="searchBar-mobile"></search-bar>
</div>
