<div class="col-xs-12 searchFilter">
  <div class="row">
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Gần tôi nhất</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Phổ biến nhất</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Nhiều người xem</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Đánh giá cao nhất</button>
    </div>
    <div class="searchFilter__item__area ">
      <button type="button" class="btn btn-default" (click)="isAreaCollapsed = !isAreaCollapsed">
          Chọn khu vực
          <i class="fa fa-angle-down"></i>
        </button>
      <div (collapsed)="areaCollapsed($event)" (expanded)="areaExpanded($event)" [collapse]="isAreaCollapsed" class="card card-block card-header">

        <div class="well well-lg">
          <div class="row">
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
          </div>

        </div>
      </div>
    </div>

    <div class="searchFilter__item__type ">
      <button type="button" class="btn btn-default " (click)="isTypeCollapsed = !isTypeCollapsed">
          Loại
          <i class="fa fa-angle-down"></i>
        </button>

      <div (collapsed)="typeCollapsed($event)" (expanded)="typeExpanded($event)" [collapse]="isTypeCollapsed" class="card card-block card-header">

        <div class="well well-lg">
          <div class="row">
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Ăn Vặt</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Trà Sữa</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Cafe</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Lẩu</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Thức Ăn nhanh</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Bánh</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Cơm</md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <p>
  search-filter works!
</p>
<div class="col-xs-12 searchFilter no-padding-left-right">
  <div class="row">
    <div class="searchFilter__item col-xs-4 col-md-3 col-sm-4">
      <button type="button" class="btn btn-default">Gần tôi nhất</button>
    </div>
    <div class="searchFilter__item col-xs-4 col-md-3 col-sm-4">
      <button type="button" class="btn btn-default">Phổ biến nhất</button>
    </div>
    <div class="searchFilter__item col-xs-4 col-md-3 col-sm-4">
      <button type="button" class="btn btn-default">Nhiều người xem</button>
    </div>
    <div class="searchFilter__item col-xs-4 col-md-3 col-sm-4">
      <button type="button" class="btn btn-default">Đánh giá cao nhất</button>
    </div>
    <div class="searchFilter__item__area col-xs-4 col-md-6 col-sm-4">
      <button type="button" class="btn btn-default no-padding-left-right" (click)="isAreaCollapsed = !isAreaCollapsed">
          Chọn khu vực
          <i class="fa fa-angle-down"></i>
        </button>
      <div (collapsed)="areaCollapsed($event)" (expanded)="areaExpanded($event)" [collapse]="isAreaCollapsed" class="card card-block card-header">

        <div class="well well-lg">
          <div class="row">
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
              <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
          </div>

        </div>
      </div>
    </div>

    <div class="searchFilter__item__type col-xs-4 col-md-6 col-sm-4">
      <button type="button" class="btn btn-default no-mar-left-right" (click)="isTypeCollapsed = !isTypeCollapsed">
          Loại
          <i class="fa fa-angle-down"></i>
        </button>

      <div (collapsed)="typeCollapsed($event)" (expanded)="typeExpanded($event)" [collapse]="isTypeCollapsed" class="card card-block card-header">

        <div class="well well-lg">
          <div class="row">
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
            <md-checkbox class="col-xs-12 col-sm-6 col-md-6">Quận 1</md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->