<div class="col-xs-12 searchFilter">
  <div class="row">
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default" (click)="setLocationFilter()">Gần tôi nhất</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Phổ biến nhất</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Nhiều người xem</button>
    </div>
    <div class="searchFilter__item">
      <button type="button" class="btn btn-default">Đánh giá cao nhất</button>
    </div>
    <div class="searchFilter__item">
      <div class="searchFilter__item__type" id="searchTypeParents">
        <button type="button" class="btn btn-default no-padding-left-right">
            Chọn Loại
            <i class="fa fa-angle-down"></i>
          </button>
          <div  class="parents-well">
            <div class="well well-lg well-search-type">
              <div class="row well-search-type">
                  <mat-checkbox *ngFor="let category of categories" class="col-xs-12 col-sm-6 col-md-6" [value]="category.id" (change)="chooseCategories($event)">{{category.name}}</mat-checkbox>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>
