.footer{
    background-color: #31708f;
    margin: unset;
    line-height: 50px;
    color: white;
    // border-top: solid 1.2px #51D3B2;
   &__left{
       float: left;
       padding-left: 20px;
       cursor: pointer;
       img{
           width:50px;
           height:50px;
       }
       &__nameApp{
           font-weight: bold;
       }
   }
   &__right{
       float: right;
       padding-right: 20px;
       a{
            color: white;
            font-style:italic;
            font-weight: bold;
            padding-right: 15px;
       }
   } 
}