<div class="admin-product-item col-sm-12 col-xs-12" (window:resize)="onResize($event)">
  <div class="row tilte" [ngClass]="index!=0 ? 'display': ''">
      <div class="col-md-2 col-sm-4 col-xs-4">
        Sản phẩm
      </div>
  
      <div class="col-md-2 col-sm-3 col-xs-3">
        Loại
      </div>
  
      <div class="col-md-1 col-sm-2 col-xs-2 text-overflow">
        Giá
      </div>
  
      <div class="col-md-3 col-sm-3 col-xs-3 text-overflow">
        Mô tả
      </div>
  
      <div class="col-md-4 col-sm-12 col-xs-12">
      </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 col-xs-4">
      <img src={{productInfo.avatar}}/>
      <span class="admin-product-item__name text-overflow">{{productInfo.name}}</span>
    </div>

    <div class="col-md-2 col-sm-3 admin-product-item__type col-xs-3">
      <md-select floatPlaceholder="never" placeholder={{productInfo.type}} class="row no-margin">
        <md-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </md-option>
      </md-select>
    </div>

    <div class="col-md-1 col-sm-2 col-xs-2 text-overflow admin-product-item__info ">
      {{productInfo.price}} VNĐ
    </div>

    <div class="col-md-3 col-sm-3 col-xs-3 text-overflow admin-product-item__info ">
      {{productInfo.description}}
    </div>

    <div class="col-md-4 col-sm-12 col-xs-12 btnSetting">
      <button md-raised-button color="primary" [ngClass]="!isSmallDesktop?'':'display'">Chỉnh sửa</button>
      <button md-raised-button color="warn" [ngClass]="!isSmallDesktop?'':'display'">Xóa</button>
      <button md-raised-button color="warn" class="pull-right" [ngClass]="isSmallDesktop? '' : 'display'">Xóa</button>
      <button md-raised-button color="primary" class="pull-right" [ngClass]="isSmallDesktop? '':'display'">Chỉnh sửa</button>
    </div>

  </div>
</div>