@import "~@angular/material/prebuilt-themes/indigo-pink.css"; 
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.no-pad-left-right {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.no-padding {
  padding: 0px !important;
}

.no-mar-left-right {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.no-margin {
  margin: 0 !important;
}
