// @import '~bootstrap/dist/css/bootstrap.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";     
$myColor : #c5c5c5; 
body {
    // background-color:$myColor!important;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif; // San-serif has No leg
    font-family: 'Roboto', sans-serif;  // Serif has leg
    box-sizing: border-box;
}    

.no-pad-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.no-padding {
    padding: 0px !important;
}

.no-mar-left-right {
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.no-margin {
    margin: 0 !important
}