$navbar-height: 51px;
:host {
    font-family: 'Varela Round', sans-serif;
}
.app-content{
    
    @media screen and(min-width:768px) {
        margin-top: $navbar-height;
    }
    margin-bottom: 50px;
    margin-right: 0px;
    margin-left: 0px;
}