<div style="text-align: center">
  <img src="assets/images/admin/google-analytics.png" width="100%" alt="Google Analytics">
</div>

<h4>Tổng số Users: {{ totalUsers }}</h4>
<h4>Tổng số Sản Phẩm: {{ totalProducts }}</h4>
<h4>Tổng số Cửa Hàng: {{ totalStores }}</h4>

<hr>
<h2>Lượt truy cập mỗi ngày trong 30 ngày gần đây</h2>
<div id="embed-api-auth-container"></div>
<div id="chart-container"></div>
<div id="view-selector-container"></div>

<hr>
<h2>Quốc gia truy cập trong 7 ngày gần đây</h2>
<div class="row">
  <div id="chart-1-container" class="col-xs-12 col-sm-6"></div>
  <div id="chart-12-container" class="col-xs-12 col-sm-6"></div>
</div>

<hr>
<div id="view-selector-2-container"></div>
<h2>Quốc gia truy cập trong 30 ngày gần đây</h2>
<div class="row">
    <div id="chart-2-container" class="col-xs-12 col-sm-6"></div>
    <div id="chart-22-container" class="col-xs-12 col-sm-6"></div>
  </div>
<div id="view-selector-1-container"></div>

<hr>
<h2>Trình duyệt, Hệ điều hành sử dụng trong 7 ngày gần đây</h2>
<div id="main-chart-container"></div>
<div id="breakdown-chart-container"></div>

<hr>
<h2>Tỷ lệ người dùng quay trở lại Website</h2>
<div id="chart-3-container"></div>
<div id="view-selector-3-container"></div>
<!-- 
<hr>
<h2>Tỷ lệ người dùng Active trong 7 ngày gần đây</h2>
<div id="chart-4-container"></div>
<div id="view-selector-4-container"></div> -->

<hr>
<h2>Tỷ lệ người dùng truy cập lại trong 7 ngày</h2>
<div id="chart-5-container"></div>
<div id="view-selector-5-container"></div>

<hr>
<h2>Thời gian Onsite (giây)</h2>
<div id="chart-4-container"></div>
<div id="view-selector-4-container"></div>

<hr>
<h2>Nguồn gốc truy cập</h2>
<div id="chart-6-container"></div>
<div id="view-selector-6-container"></div>

<hr>
<h2>Top Nội Dung</h2>
<div id="chart-7-container"></div>
<div id="view-selector-7-container"></div>


<hr>

<h2>Exit Page</h2>
<div id="chart-8-container"></div>
<div id="view-selector-8-container"></div>

<hr>

<h2>Thiết bị Mobile truy cập</h2>
<div id="chart-9-container"></div>
<div id="view-selector-9-container"></div>