<div class="container">
  <div class="productDetail col-xs-12 col-sm-12"  *ngIf="productModel != null">
    <div class="row">
      <div class="productDetail__photo col-xs-12 col-sm-6 col-md-4">
        <div class="productDetail__photo__main row">
          <img [src]="productModel.images.length>0?productModel.images[0].path:imageDefault" alt="" >
        </div>

        <div class="productDetail__photo__minor row">
          <div class="col-xs-3 col-sm-3" *ngFor="let image of productModel?.images">
            <img [src]="image?.path" alt="Product" *ngIf="(image.id != null)">
          </div>
        </div>
      </div>

      <div class="productDetail__info col-xs-12 col-sm-6 col-md-5">
        <div class="row">
          <h2 class="col-xs-12 col-sm-8 col-md-8"> {{ productModel.product.name }} <span><i class="fa fa-1x" [ngClass]="isFavorited ? 'fa-heart' : 'fa-heart-o'" (click)="addFavoriteItem($event)"></i></span></h2>
          <div class="productDetail__info__rating col-xs-12 col-sm-8 col-md-8"><bs-rating [id]="productModel.product?.id" [rating]="productModel.product.rating" [ratingCount]="productModel.product.ratingCount"></bs-rating></div>
          <div  class="col-xs-12 col-sm-12 col-md-12"><span><i class="fa fa-map-marker fa-1x"></i></span> {{ productModel.store.name }} </div>
          <div class="col-xs-12 col-sm-12 col-md-12"><span><i class="fa fa-location-arrow fa-1x"></i></span> {{ productModel.store.address + ', ' +  productModel.store.district + ', ' +  productModel.store.city }}</div>
          <div  class="col-xs-12 col-sm-12 col-md-12"><span><i class="fa fa-clock-o fa-1x"></i></span> {{ productModel.store.openHour  | slice:0:5}} -  {{ productModel.store.closeHour | slice:0:5 }}  </div>
          <div  class="col-xs-12 col-sm-12 col-md-12"><span><i class="fa fa-money fa-1x"></i></span> {{ productModel.product.price | number}} </div>
        </div>
      </div>

      <div class="productDetail__map col-xs-12 col-sm-12 col-md-3">
          <h2 class="col-xs-12 col-sm-12 col-md-12"><span><i class="fa fa-flag-checkered fa-1x pull-right"></i></span></h2>
          <map [storeIds]="[productModel.store?.id]"></map>
          <div class="productDetail__map__note col-xs-12 col-sm-12 col-md-12">Nhấp vào địa điểm để xem đường đi ngắn nhất</div>
      </div>  
    </div>
    <hr/>

    <div class="row">
      <h3>Đánh Giá</h3>
      <div class="productDetail__review col-xs-12 col-sm-12">
        <review [productId]="productId"></review>
      </div>
    </div>
    <hr/>

    <div class="row">
      <h4>Sản Phẩm Tương Tự</h4>
      <div class="productDetail__similar col-xs-12 col-sm-12">
        <similar-product [categoryId]="categoryId" [productId]="productId"></similar-product>
      </div>
    </div>
  </div>
</div>
