.productDetail {
  margin-top: 25px;
  font-size: 1.2em;
}

.productDetail h3 {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
  color: #484848 !important;
  font-size: 28px !important;
  font-weight: 700 !important;
  letter-spacing: 0.6px !important;
  line-height: 32px !important;
  margin-bottom: 50px;
}

@media screen and (max-width: 585px) {
  .productDetail__photo {
    width: 100% !important;
  }
}

.productDetail__photo__main {
  overflow: hidden;
  text-align: center;
  height: auto;
}

.productDetail__photo__main img {
  display: block;
  max-height: 360px;
  box-shadow: 2px 2px 2px #A095A3;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.productDetail__photo__minor {
  height: auto;
}

.productDetail__photo__minor div {
  margin-top: 5px;
  overflow: hidden;
  padding: 15px 5px !important;
  border: 1px dashed white;
  box-shadow: 0 0  2px #4375FF;
}

.productDetail__photo__minor img {
  display: block;
  max-height: 100px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 585px) {
  .productDetail__info {
    width: 100% !important;
  }
}

.productDetail__info h2 {
  padding-left: 20%;
  color: #484848 !important;
  font-weight: 700 !important;
  letter-spacing: 1.2px !important;
  line-height: 32px !important;
}

.productDetail__info__rating {
  padding-left: 0px !important;
}

.productDetail__info div {
  position: relative;
  padding-left: 45px;
  line-height: 270%;
}

.productDetail__info div span {
  position: absolute;
  left: 18px;
}

.productDetail__info i:hover {
  cursor: pointer;
}

.productDetail__info .fa-heart {
  color: red;
}

.productDetail__map map {
  margin-bottom: 0 !important;
}

.productDetail__map__note {
  background-color: peachpuff;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
