.productDetail {
    margin-top: 25px;
    font-size: 1.2em;
    

    &__photo {
        @media screen and (max-width:585px) {
            width: 100% !important;
        }

        &__main {
            overflow: hidden;
            text-align: center; 
            height:auto;
            img {
                display: block;
                max-height: 360px;
                box-shadow: 2px 2px 2px #A095A3;
                width: 100%;
                height: auto;
            }
        }

        &__minor {
            height: auto;
            div {
                margin-top: 5px;
                overflow: hidden;
                padding: 15px 5px !important;
                border: 1px dashed white;
                box-shadow: 0 0  2px #4375FF
            }
            img {
                display: block;
                max-height: 100px;
                width: 100%;
                height: auto;
            }
        }
    }

    &__info {
        
        @media screen and (max-width:585px) {
            width: 100% !important;
        }   
        h2 {
            height: 70px;
            span {
                margin-left: 30px;
            }
        }

        div {
            position: relative;
            padding-left: 45px;
            line-height: 270%;
            span {
                position: absolute;
                left: 18px;
            }
        }

        i:hover {
            cursor: pointer;
            // color: orangered;
        }

        .fa-heart {
            color:red
        }
    }
}