.review__head {
  display: table;
}

.review__head__avatar, .review__head__username {
  display: inline-block;
  vertical-align: middle;
}

.review__head__rating {
  display: table;
  vertical-align: middle;
}

.review__head__rating div {
  display: table-row;
}

.review__head__rating rating {
  color: #6EEC3C;
  font-size: 1.4em;
}

.review__content {
  margin-top: 5px;
}

.review__content .jumbotron {
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  padding-bottom: 20px !important;
}

.review__footer {
  width: 100%;
  padding-right: 0;
}

.review__footer__btn {
  margin-right: 0 !important;
  top: 15px !important;
}
