<div class="row review">

  <div class="col-xs-12 col-sm-12 review__head">

    <div class="row">

      <div class="col-xs-6 col-sm-4">
        <div class="review__head__avatar">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        <div class="review__head__username">{{user.name}}</div>
      </div>

      <div class="col-xs-6 col-sm-8 review__head__rating">
        <div class="row">
          <div class="col-xs-12 col-sm-4 pull-right">
            <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" (onHover)="hoveringOver($event)" [titles]="['one','two','three']"
              class="filled pull-right"></rating>
          </div>
          <div class="col-xs-12 col-sm-8 pull-left">
            <span class="pull-right">03/10/2017</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12  review__content no-pad-left-right">
    <div class="jumbotron">Mình từng ăn món này ở đài loan và ăn tại việt nam thì cảm nhận là mùi vị khá giống và ngon nhưng chỉ có điều là phải mua thêm các món bỏ vào vì không được đầy đủ như ở bên Đài Loan . Ngoài ra có uống trà sữa ở đây 2 lần thì thấy không ngon chân châu ăn thấy kì kì .
        
    </div>
  </div>

  <div class="col-xs-12 col-sm-12  review__footer">
    <!-- <md-button class="md-raised review__footer__btn">Gửi</md-button> -->
    <button md-raised-button class="review__footer__btn pull-right warn">Gửi</button>
  </div>
</div>