.footer {
  width: 100%;
  line-height: 100px;
  color: #484848;
}

.footer__left {
  float: left;
  padding-left: 20px;
  cursor: pointer;
}

.footer__left img {
  width: 50px;
  height: 50px;
}

.footer__left__nameApp {
  font-weight: bold;
}

.footer__right {
  float: right;
  padding-right: 20px;
}

.footer__right a {
  color: #484848;
  font-size: 1.2em;
  padding-right: 15px;
}
