<div class="footer container">
  <div class="footer__left">
    <img src="../../../../assets/images/core/logo.png" alt="logoApp">
    <span class="footer__left__nameApp"><sup>@</sup>{{nameApp}}, Inc </span>
  </div>
  <div class="footer__right">
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
    <!-- <a class="btn btn-social-icon btn-facebook" href="https://www.facebook.com/tuanphambk"> -->
     <a href="https://www.facebook.com/tuanphambk"><span><i class="fa fa-facebook-official fa-2x"></i></span></a> 
    <!-- </a> -->
    <!-- <a class="btn btn-social-icon btn-google-plus-official" href="https://plus.google.com/u/0/110278196240625145992"> -->
    <a href="https://plus.google.com/u/0/110278196240625145992"><span><i class="fa fa-google-plus-official fa-2x"></i></span></a> 
    <!-- </a> -->
  </div>
</div>
