<div class="footer row">
  <div class="footer__left">
    <img src="../../../../assets/images/core/logo.png" alt="logoApp">
    <span class="footer__left__nameApp"><sup>@</sup>{{nameApp}}, Inc </span>
  </div>
  <div class="footer__right">
    <a href="#">Terms</a>
    <a href="#">Privacy</a>
    <a class="btn btn-social-icon btn-facebook">
      <span class="fa fa-facebook"></span>
    </a>
    <a class="btn btn-social-icon btn-google">
      <span class="fa fa-google"></span>
    </a>
  </div>
</div>
