<div class="container-fluid profile">
  <nav class="navbar navbar-inverse profile__navbar">
    <div class="container-fluid ">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <!-- <span class=""><i class="fa fa-chevron-down" style="color:white"></i></span> -->
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse profile__navbar__top" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a (click)="loadChildrenComponent($event)" id="overview">Thông Tin Chung<span class="sr-only">(current)</span></a></li>
          <li><a (click)="loadChildrenComponent($event)" id="security">Bảo Mật</a></li>
          <li><a (click)="loadChildrenComponent($event)" id="favorite-list">Danh sách yêu thích</a></li>
          <li *ngIf="storeId != null"><a (click)="loadChildrenComponent($event)" id="store-profile">Cửa Hàng</a></li>
          <li *ngIf="storeId != null"><a (click)="loadChildrenComponent($event)" id="store-detail">Quản Lý Menu</a></li>
          <!-- <li><a (click)="loadChildrenComponent($event)" id="review">Đánh Giá</a></li> -->
          <!-- <li><a (click)="loadChildrenComponent($event)" id="review">Đánh Giá</a></li> -->
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="row">
    <div class="profile__leftBar col-xs-12 col-sm-3">
      <ul class="nav">
        <li class="active"><a (click)="loadChildrenComponent($event)" id="user-profile">Thông tin cá nhân</a></li>
        <li role="presentation"><a (click)="loadChildrenComponent($event)" id="change-password">Đổi mật khẩu</a></li>
        <li role="presentation"><a (click)="loadChildrenComponent($event)" id="transaction-history">Lịch sử Giao dịch</a></li>
        <li role="presentation"><a (click)="loadChildrenComponent($event)" id="reset-password">Reset Mật Khẩu</a></li>
        <li role="presentation"><a (click)="loadChildrenComponent($event)" id="setting">Cài đặt</a></li>
      </ul>
    </div>

    <div class="profile__content col-xs-12 col-sm-9">
      <!-- <div class="page-header">
        <h1>{{ userName }}</h1>
      </div> -->
      <div class="row">
        <!-- Render Dynamically Child Component -->
        <!-- <profile-item-container  [profileItems]="profileItems"></profile-item-container> -->
        <div [ngSwitch]="childComponent">
          <div *ngSwitchCase="'reset-password'"><reset-password></reset-password></div>
          <div  *ngSwitchCase="'favorite-list'"><favorite-list></favorite-list></div>
          <div  *ngSwitchCase="'change-password'"><change-password></change-password></div>
          <div *ngSwitchCase="'user-profile'"><user-profile></user-profile></div>
          <div *ngSwitchCase="'store-profile'"><store-profile [store]='store'></store-profile></div>
          <div *ngSwitchDefault><user-profile></user-profile></div>
        </div>
        <!-- <wish-list></wish-list> -->
        <!-- <open-store></open-store> -->
        <!-- <change-password></change-password> -->
        <!-- <edit-profile></edit-profile> -->
      </div>
    </div>
  </div>
</div>