<p>
  signup-by-email works!
</p>
<md-checkbox>Check me!</md-checkbox>

<!-- <ng-template #content let-c="close" let-d="dismiss">
  <div>
    <div class="modal-body form-signup ">

      <div>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true"><i class="fa fa-times fa-1x"></i></span>
          </button>
      </div>

      <div class="signup-social">
        <button class="btn btn-primary btn-signup-facebook"><i class="fa fa-facebook"></i>Đăng nhập với Facebook</button>
        <span>or</span>
        <button class="btn btn-default btn-signup-google "><i class="fa fa-google"></i>Đăng nhập với Google</button>
      </div>

      <div class="line-signup">
        <div></div>
      </div>

      <form [formGroup]="user" (ngSubmit)="onSubmit(user)">
        <div>
          <input type="text" formControlName="email" class="form-control input-lg" placeholder="Email...">
          <i class="fa fa-envelope fa-2x"></i>
        </div>

        <div>
          <input type="text" formControlName="gender" class="form-control input-lg" placeholder="Gender...">
          <i class="fa fa-venus-mars fa-2x"></i>
        </div>

        <div>
          <input type="text" formControlName="lastname" class="form-control input-lg" placeholder="Last name...">
          <i class="fa fa-user fa-2x"></i>
        </div>

        <div>
          <input type="text" formControlName="firstname" class="form-control input-lg" placeholder="First name...">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>

        <div>
          <input type="password" formControlName="password" class="form-control input-lg" placeholder="Password...">
          <i class="fa fa-lock fa-2x"></i>
        </div>

        <div>
          <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Confirm Password...">
          <i class="fa fa-lock fa-2x"></i>
        </div>

        <div>
          <input type="date" formControlName="DOB" class="form-control input-lg" placeholder="Date of Birth...">
          <i class="fa fa-calendar fa-2x"></i>
        </div>

        <div>
          <input type="checkbox" formControlName="DOB" class="form-control input-lg" placeholder="Date of Birth...">
          <span>Tôi đã đọc và chấp nhận những điều khoản của iFoody.</span>
        </div>

        
        <hr/>
        
      </form>

      <div class="line-signup">
        <div></div>
      </div>
      <p>Đã có tài khoản iFoody? <a href="#">Đăng Nhập</a></p>
    </div>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->