USE [master]
GO
/****** Object:  Database [iFoody]    Script Date: 12-Jan-18 9:46:33 AM ******/
CREATE DATABASE [iFoody]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'iFoody', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS021\MSSQL\DATA\iFoody.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'iFoody_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS02\MSSQL\DATA\iFoody_log.ldf' , SIZE = 768KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [iFoody].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [iFoody]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ReviewContent] [nvarchar](max) NOT NULL,
	[Rating] [float] NULL,
	[Date] [datetime] NOT NULL,
	[UserId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteLists]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteLists](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[StoreId] [uniqueidentifier] NULL,
	[ProductId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_FavoriteLists] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Path] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ProductId] [uniqueidentifier] NOT NULL,
	[ImageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_ProductImages_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [decimal](8, 0) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[ReviewContent] [nvarchar](max) NOT NULL,
	[Rating] [float] NOT NULL,
	[Date] [datetime] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ProductId] [uniqueidentifier] NULL,
	[StoreId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreImages]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreImages](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[StoreId] [uniqueidentifier] NOT NULL,
	[ImageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_StoreImages_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stores]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stores](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Rating] [float] NULL,
	[OpenHour] [time](0) NOT NULL,
	[CloseHour] [time](0) NOT NULL,
	[LowestPrice] [decimal](8, 0) NULL,
	[HighestPrice] [decimal](8, 0) NULL,
	[Description] [nvarchar](max) NULL,
	[RegistrationDate] [date] NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[District] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[CategoryId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Stores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tokens]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tokens](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[AuthToken] [nvarchar](250) NOT NULL,
	[IssuedOn] [datetime] NOT NULL,
	[ExpiresOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Tokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserImages]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserImages](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ImageId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_UserImages_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12-Jan-18 9:46:33 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] ROWGUIDCOL  NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Birthday] [date] NULL,
	[IsAdmin] [bit] NOT NULL,
	[HasStore] [bit] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'65480383-c9ce-43e7-a4c4-00b926c57828', N'Fast food')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'7914f9dc-c679-4661-acca-074821678f02', N'Đồ nướng')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (N'a1cc3b6d-d720-46c6-b48f-0934a95d1b68', N'Bánh')
INSERT [dbo].[FavoriteLists] ([Id], [UserId], [StoreId], [ProductId]) VALUES (N'd2952a8f-a192-4708-ab02-22ef7ab35b65', N'52da82fd-f624-4260-8617-00759c715d08', N'6c613d63-5c70-4aec-b224-104ad02751b4', NULL)
INSERT [dbo].[FavoriteLists] ([Id], [UserId], [StoreId], [ProductId]) VALUES (N'a96c3b46-8ffd-43be-9cf6-29811dff0da5', N'b23e1fae-5bd6-4b1d-854d-e9dd47997e98', NULL, N'78050fc4-6a08-408f-aafb-1a0061f034d3')
INSERT [dbo].[FavoriteLists] ([Id], [UserId], [StoreId], [ProductId]) VALUES (N'b05d2a9b-1783-4af2-b470-2ad9b9500027', N'b1c78bed-834a-4ffd-b74f-ef04e3ea51ae', NULL, N'3836de70-66ef-42f8-9266-196d77e9f9e2')
INSERT [dbo].[Images] ([Id], [Name], [Path]) VALUES (N'7b44ae56-f1d8-4c08-82f6-05dc95537048', N'example1', N'https://tea-2.lozi.vn/v1/images/resized/tra-sui-bot-la-cay-hat-no-vi-dau-tra-xanh-kiwi-hat-no-vi-kiwi-1481136647-2197488-1491215954?w=480&type=s')
INSERT [dbo].[Images] ([Id], [Name], [Path]) VALUES (N'78d60ed6-367e-4e25-b583-08d2405660a2', N'avatar13', N'https://sg-dae.kxcdn.com/blog/wp-content/uploads/2015/02/one-couple-two-spiritual-paths.jpg')
INSERT [dbo].[Images] ([Id], [Name], [Path]) VALUES (N'a7e2b5d0-36dc-4676-a9bb-0b807b67ae95', N'example3', N'http://cdn2.koreanbapsang.com/wp-content/uploads/2015/05/DSC_0769-e1430744789873.jpg')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageId]) VALUES (N'add83267-1901-4ee8-b774-084718bd9353', N'78050fc4-6a08-408f-aafb-1a0061f034d3', N'7b44ae56-f1d8-4c08-82f6-05dc95537048')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageId]) VALUES (N'1e7266a2-89fc-4f89-adf3-13f3311538a7', N'3836de70-66ef-42f8-9266-196d77e9f9e2', N'a7e2b5d0-36dc-4676-a9bb-0b807b67ae95')
INSERT [dbo].[ProductImages] ([Id], [ProductId], [ImageId]) VALUES (N'762a35a7-5eee-473d-90d3-15384e2c7466', N'21a74063-d010-46a7-9f7e-164146d00180', N'4b46d043-9644-40e1-93ac-2ef5261088ce')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [StoreId]) VALUES (N'690a4d69-5536-4ca7-b0aa-062e94042710', N'Trà Đen Kem Sữa', CAST(43000 AS Decimal(8, 0)), N'Trà sữa gạo ngon,trân châu trắng cực ngon cực giòn. Uống bn lần vẫn thích', N'166f264f-807c-4598-8d87-495a337d457c', N'1bfa683d-e532-4a97-bf38-65e0a3962966')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [StoreId]) VALUES (N'98152096-4a44-4c7f-93a1-074ce52c85a2', N'Cafe sữa đá', CAST(28000 AS Decimal(8, 0)), N'Cafe rang xay nguyên chất cho ngày dài sản khoái', N'29f7df5d-a7f8-4abf-bd27-c64839f9d4a3', N'79ae2ad9-d5d0-4bf0-b5c6-3f123e97080c')
INSERT [dbo].[Products] ([Id], [Name], [Price], [Description], [CategoryId], [StoreId]) VALUES (N'904ea7cf-6740-414b-8b77-08075b4b60ff', N'Trà Xanh Gongcha', CAST(43000 AS Decimal(8, 0)), N'Trà sữa gạo ngon,trân châu trắng cực ngon cực giòn. Uống bn lần vẫn thích', N'166f264f-807c-4598-8d87-495a337d457c', N'386218d9-b79d-44e0-8d4f-73630da8254e')
INSERT [dbo].[Reviews] ([Id], [ReviewContent], [Rating], [Date], [UserId], [ProductId], [StoreId]) VALUES (N'ee429f22-b977-454d-8c9b-00a4ec4c5c00', N'Hẹn bạn ở đây, mình gọi trà sữa Olong và bánh tiramisu. Trà sữa thơm trà, béo và ngọt vì phải, nói chung là ngon. Còn bánh tiramisu khá béo, nhưng hơi ngọt, chắc tại mình uống trà sữa đã thấy ngọt mà ...', 4.2, CAST(N'2017-09-10T09:30:00.000' AS DateTime), N'b59f4110-239c-4005-b10c-2f410996ec5d', N'32ce8706-e2d2-4805-b4e8-df63d7a29954', NULL)
INSERT [dbo].[Reviews] ([Id], [ReviewContent], [Rating], [Date], [UserId], [ProductId], [StoreId]) VALUES (N'd7324ba8-9c3c-442b-8d5c-00daae2d0fd2', N'
Hẹn bạn ở đây, mình gọi trà sữa Olong và bánh tiramisu. Trà sữa thơm trà, béo và ngọt vì phải, nói chung là ngon. Còn bánh tiramisu khá béo, nhưng hơi ngọt, chắc tại mình uống trà sữa đã thấy ngọt mà ...', 4.2, CAST(N'2017-09-10T09:30:00.000' AS DateTime), N'2c89c409-28e1-4b81-acb7-9beb5a7349db', NULL, N'1bfa683d-e532-4a97-bf38-65e0a3962966')
INSERT [dbo].[Reviews] ([Id], [ReviewContent], [Rating], [Date], [UserId], [ProductId], [StoreId]) VALUES (N'9ca9da3c-10d3-49fc-b906-0128bed507e0', N'Hẹn bạn ở đây, mình gọi trà sữa Olong và bánh tiramisu. Trà sữa thơm trà, béo và ngọt vì phải, nói chung là ngon. Còn bánh tiramisu khá béo, nhưng hơi ngọt, chắc tại mình uống trà sữa đã thấy ngọt mà ...', 4.2, CAST(N'2017-09-10T09:30:00.000' AS DateTime), N'b59f4110-239c-4005-b10c-2f410996ec5d', N'5a3e716d-691f-4d67-893a-fe13fa0eef73', NULL)
GO
INSERT [dbo].[StoreImages] ([Id], [StoreId], [ImageId]) VALUES (N'e81053ab-e719-4818-bb23-20569e995599', N'6120764f-e6a9-4c17-ab0a-e134e588cce9', N'7b44ae56-f1d8-4c08-82f6-05dc95537048')
INSERT [dbo].[StoreImages] ([Id], [StoreId], [ImageId]) VALUES (N'017ada18-2b2c-4805-b77a-2963e97676a2', N'1bfa683d-e532-4a97-bf38-65e0a3962966', N'a7e2b5d0-36dc-4676-a9bb-0b807b67ae95')
INSERT [dbo].[StoreImages] ([Id], [StoreId], [ImageId]) VALUES (N'd6c2c352-45ff-46b2-b9d2-2ec2a4f984ca', N'386218d9-b79d-44e0-8d4f-73630da8254e', N'4b46d043-9644-40e1-93ac-2ef5261088ce')
INSERT [dbo].[Stores] ([Id], [Name], [Rating], [OpenHour], [CloseHour], [LowestPrice], [HighestPrice], [Description], [RegistrationDate], [Address], [District], [City], [CategoryId], [UserId]) VALUES (N'f29c2cb3-d3bc-4bea-9f55-0249f79293a4', N'Shop', NULL, CAST(N'06:00:00' AS Time), CAST(N'21:30:00' AS Time), CAST(12000 AS Decimal(8, 0)), CAST(25000 AS Decimal(8, 0)), N'ko có ji để mô tả', CAST(N'2017-12-19' AS Date), N'123 3/2', N'3', N'1', N'65480383-c9ce-43e7-a4c4-00b926c57828', NULL)
INSERT [dbo].[Stores] ([Id], [Name], [Rating], [OpenHour], [CloseHour], [LowestPrice], [HighestPrice], [Description], [RegistrationDate], [Address], [District], [City], [CategoryId], [UserId]) VALUES (N'12f3db39-e8d0-4160-b53e-0c574367b638', N'Shop3', NULL, CAST(N'07:00:00' AS Time), CAST(N'09:30:00' AS Time), CAST(10000 AS Decimal(8, 0)), CAST(130000 AS Decimal(8, 0)), N'.....', CAST(N'2017-12-19' AS Date), N'12e elfnwnf', N'1', N'1', N'65480383-c9ce-43e7-a4c4-00b926c57828', NULL)
INSERT [dbo].[Stores] ([Id], [Name], [Rating], [OpenHour], [CloseHour], [LowestPrice], [HighestPrice], [Description], [RegistrationDate], [Address], [District], [City], [CategoryId], [UserId]) VALUES (N'6c613d63-5c70-4aec-b224-104ad02751b4', N'Monkey In Black Cafe - Trần Quang Khải', 4.3, CAST(N'08:00:00' AS Time), CAST(N'22:00:00' AS Time), CAST(35000 AS Decimal(8, 0)), CAST(150000 AS Decimal(8, 0)), N'Hệ thống Monkey In Black Cafe', CAST(N'2016-05-25' AS Date), N'263 Trần Quang Khải, P. Tân Định', N'Quận 1', N'Hồ Chí Minh', N'29f7df5d-a7f8-4abf-bd27-c64839f9d4a3', NULL)
SET IDENTITY_INSERT [dbo].[Tokens] ON 

INSERT [dbo].[Tokens] ([Id], [UserId], [AuthToken], [IssuedOn], [ExpiresOn]) VALUES (1, N'52da82fd-f624-4260-8617-00759c715d08', N'b2b4ae51-7963-4dbf-9f72-54e046b0d391', CAST(N'2017-11-10T15:48:54.763' AS DateTime), CAST(N'2017-11-10T15:48:54.763' AS DateTime))
INSERT [dbo].[Tokens] ([Id], [UserId], [AuthToken], [IssuedOn], [ExpiresOn]) VALUES (2, N'cc736f75-4b3f-457b-9110-2272455e282d', N'bb9e2544-7935-476b-b6dc-8fd58e281269', CAST(N'2017-11-10T16:31:47.473' AS DateTime), CAST(N'2017-11-10T16:46:47.473' AS DateTime))
INSERT [dbo].[Tokens] ([Id], [UserId], [AuthToken], [IssuedOn], [ExpiresOn]) VALUES (3, N'19892089-46b2-4162-8c17-279f3cb7b02a', N'f2e64033-f04f-44e3-bfac-3781b9095497', CAST(N'2017-11-10T16:52:48.127' AS DateTime), CAST(N'2017-11-10T17:22:48.127' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[Tokens] OFF
INSERT [dbo].[UserImages] ([Id], [UserId], [ImageId]) VALUES (N'b1469bb7-6094-4725-8ee0-1ce9f0c0b9a0', N'19892089-46b2-4162-8c17-279f3cb7b02a', N'42b80bb8-2260-4720-a1ef-6d49f1b26df2')
INSERT [dbo].[UserImages] ([Id], [UserId], [ImageId]) VALUES (N'6544b304-1a3e-4ee3-8060-218b6f688d17', N'1669bbc7-1b6d-4f6b-bbc0-048e56465699', N'd1ffcb66-bdf6-420d-8c14-c25e5b937c2e')
INSERT [dbo].[UserImages] ([Id], [UserId], [ImageId]) VALUES (N'a6d5fcee-94ce-4a65-9af2-28e2f7aae5e2', N'85bd14ee-bdcc-464b-b430-f403c59e8ad9', N'69091d97-b973-4086-ae3b-74f660fa8307')
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Gender], [Email], [Password], [Birthday], [IsAdmin], [HasStore]) VALUES (N'52da82fd-f624-4260-8617-00759c715d08', N'Phan Văn', N'Thi', 1, N'thiphan@gmail.com', N'bleu', CAST(N'1996-05-20' AS Date), 0, NULL)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Gender], [Email], [Password], [Birthday], [IsAdmin], [HasStore]) VALUES (N'1669bbc7-1b6d-4f6b-bbc0-048e56465699', N'Nguyễn Trần', N'Thương Ngọc', 0, N'thuongngoc@gmail.com', N'6677', CAST(N'1997-08-28' AS Date), 0, NULL)
INSERT [dbo].[Users] ([Id], [LastName], [FirstName], [Gender], [Email], [Password], [Birthday], [IsAdmin], [HasStore]) VALUES (N'17a5405b-f91f-45a3-81e3-17e27fe38fc9', N'Test', N'Login', 1, N'testLogin@gmail.com', N'test', CAST(N'2017-12-10' AS Date), 0, NULL)
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Comments] ADD  CONSTRAINT [DF_Comments_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[FavoriteLists] ADD  CONSTRAINT [DF_FavoriteLists_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Images] ADD  CONSTRAINT [DF_Images_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[StoreImages] ADD  CONSTRAINT [DF_StoreImages_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Stores] ADD  CONSTRAINT [DF_Stores_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[UserImages] ADD  CONSTRAINT [DF_UserImages_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Products]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Stores]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Users]
GO
ALTER TABLE [dbo].[FavoriteLists]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteLists_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[FavoriteLists] CHECK CONSTRAINT [FK_FavoriteLists_Products]
GO
ALTER TABLE [dbo].[FavoriteLists]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteLists_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[FavoriteLists] CHECK CONSTRAINT [FK_FavoriteLists_Stores]
GO
ALTER TABLE [dbo].[FavoriteLists]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteLists_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FavoriteLists] CHECK CONSTRAINT [FK_FavoriteLists_Users]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Images]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Categories]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Stores]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Stores]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[StoreImages]  WITH CHECK ADD  CONSTRAINT [FK_StoreImages_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[StoreImages] CHECK CONSTRAINT [FK_StoreImages_Images]
GO
ALTER TABLE [dbo].[StoreImages]  WITH CHECK ADD  CONSTRAINT [FK_StoreImages_Stores] FOREIGN KEY([StoreId])
REFERENCES [dbo].[Stores] ([Id])
GO
ALTER TABLE [dbo].[StoreImages] CHECK CONSTRAINT [FK_StoreImages_Stores]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_Categories]
GO
ALTER TABLE [dbo].[Stores]  WITH CHECK ADD  CONSTRAINT [FK_Stores_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Stores] CHECK CONSTRAINT [FK_Stores_Users]
GO
ALTER TABLE [dbo].[Tokens]  WITH CHECK ADD  CONSTRAINT [FK_Tokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tokens] CHECK CONSTRAINT [FK_Tokens_Users]
GO
ALTER TABLE [dbo].[UserImages]  WITH CHECK ADD  CONSTRAINT [FK_UserImages_Images] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Images] ([Id])
GO
ALTER TABLE [dbo].[UserImages] CHECK CONSTRAINT [FK_UserImages_Images]
GO
ALTER TABLE [dbo].[UserImages]  WITH CHECK ADD  CONSTRAINT [FK_UserImages_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserImages] CHECK CONSTRAINT [FK_UserImages_Users]
GO
USE [master]
GO
