form {
    div {
        position: relative;
        margin-bottom: 10px;
        padding-left: 10%;
        padding-right: 10%;
        input {
            margin:auto;
        }
        i {
            position: absolute;
            right: 12%;
            top:10px
        }
    }
    button {
        top: 60px;
        right:10%;
    }
    
}

