.open-store h2 {
  color: rgba(255, 60, 0, 0.88);
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
}

.open-store .form-open-store .signup-social {
  text-align: center;
}

.open-store .form-open-store .line-signup {
  height: 20px;
  text-align: center;
}

.open-store .form-open-store .address i {
  float: left;
}

.open-store .form-open-store i {
  position: absolute;
  right: 15px;
  bottom: 8px;
  color: #4B4747;
}

.open-store .form-open-store div {
  position: relative;
  margin-bottom: 10px;
}

.open-store .form-open-store .fa-times {
  top: 6px;
  z-index: 1000;
}

.open-store .form-open-store button {
  width: 30%;
  text-align: center;
  margin-right: 20px;
}

.open-store .form-open-store input[type=checkbox] {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.open-store .form-open-store .addNewComponent:hover {
  cursor: pointer;
}
