.open-store {
    h2 {
        color:rgba(255, 60, 0, 0.88);
        font-weight: bold;
        font-family: sans-serif;
        text-align: center
    }
    .form-open-store {
        .signup-social {
            text-align: center;
        }
        .line-signup {
            height:20px;
            text-align: center;
        }
        .address {
            i {
                float:left
            }
        }
        i {
            position: absolute;
            right: 15px;
            bottom:8px;
            color: #4B4747;
        }
        div {
            position: relative;
            margin-bottom: 10px
        }
        .fa-times {
            top: 6px;
            z-index: 1000
        }
        button {
            width: 30%;
            text-align: center;
            margin-right:20px
        }
        input[type=checkbox] {
            width:15px;
            height:15px;
            display: inline-block;  
        }
        .addNewComponent:hover {
            cursor: pointer
        }
    }   
}