.similarStore {
  height: 300px;
  overflow: hidden;
  text-align: center;
}

.similarStore__photo {
  text-align: center;
}

.similarStore__photo img {
  max-height: 150px;
  height: auto;
  width: auto;
  border-radius: 7px;
  box-shadow: 3px 3px 3px goldenrod;
}

.similarStore__rating {
  max-height: 35px;
}

@media screen and (min-width: 769px) {
  .similarStore__rating {
    font-size: 0.71em !important;
  }
}

@media screen and (max-width: 768px) {
  .similarStore__rating {
    font-size: 0.64em !important;
  }
}

.similarStore__address {
  text-align: center;
}
