<div class="similarStore col-xs-12 col-sm-12">
    <h4>Starbucks Coffee Đề Thám</h4>

    <div class="similarStore__photo col-xs-12 col-sm-12">
        <img src="https://hd1.hotdeal.vn/images/13-10-2014/effoc%20cafe/99947-body-%20%2817%29.jpg" alt="">
    </div>

    <div class="similarStore__rating col-xs-12 col-sm-12">
        <!-- <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly" (onHover)="hoveringOver($event)" [titles]="['one','two','three']"
        class="filled pull-right"></rating> -->
        <bs-rating></bs-rating>
    </div>

    <div class="similarStore__address col-xs-12 col-sm-12">
      <h4>60/13 Cửu Long Q.10</h4>
    </div>
</div>