<div class="row similarProduct">
  <div class="col-md-12 category__row">
    <div class="row">
      <ng-template [ngIf]="similarStores.length==0 && isLoading">
        <div class="row">
          <div class="row no-margin" style="text-align:center">
            <div>
              <i class="fa fa-spinner fa-spin" style="font-size:36px"></i>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template [ngIf]="similarStores.length==0 && !isLoading">
        <p style="font-size: 11px; text-align: center">Không tìm thấy sản phẩm tương tự</p>
      </ng-template>
      <ng-template [ngIf]="similarStores.length!=0">
        <div class="col-sm-4 col-md-3 col-xs-6 item" *ngFor="let itemInfo of similarStores">
          <div class="row">
            <result-item [itemInfo]="itemInfo"></result-item>
          </div>
        </div>
        <ng-template [ngIf]="data.currentPage<data.totalPage">
          <ng-template [ngIf]="isLoading">
              <div class="row no-margin" style="text-align:center">
                <div>
                  <i class="fa fa-spinner fa-spin" style="font-size:36px"></i>
                </div>
              </div>
            </ng-template>
          <div class="row no-margin seeMoreBtn">
            <i (click)="seeMore(data.currentPage+1)" class="fa fa-angle-double-down" style="font-size:36px"></i>
          </div>
        </ng-template>
      </ng-template>
    </div>
  </div>
</div>

