.row-item {
  overflow: hidden;
  padding: 0;
  border-radius: 2px;
  border-left: none;
  background: #fff;
  width: 100%;
  float: left;
  margin: 0 19px 20px 0;
}
.ri-avatar {
  float: left;
  width: 100%;
  position: relative;
  display: block;
  background-color: #eee;
}
.ri-avatar img {
  width: 100%;
  height: 200px;
  border-radius: 2px 2px 0 0;
}
.result-name {
  overflow: hidden;
  padding: 10px;
  border-bottom: #f8f8f8 1px solid;
  background: #fff;
  opacity: .85;
}
.highlight-text {
  background-color: #ff0005;
}
.point {
  font-weight: 700;
  text-align: center;
  font-size: 12px;
  color: #fff;
  width: 32px;
  line-height: 32px;
  height: 32px;
  border-radius: 32px;
}
 .status {
  float: left;
  text-align: center;
  width: 40px;
}
.resname {
  float: left;
  width: calc(100% - 40px);
}
.result-name h2 {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.result-address {
  font-size: 12px;
  color: #888;
  clear: both;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 2px 0 0;
}
.address {
  float: left;
  max-width: calc(100% - 45px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.distants {
  width: 45px;
  float: right;
  display: block;
  font-size: 11px;
  color: #999;
  text-align: right;
}
.suggest{
  width: 8px;
  height: 8px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  &--online {
    background-color: #46cd0e;
  }
  &--offline{
    background-color: #ccc;
  }
}
.suggest-text {
  font-size: 11.5px;
  margin-left: 10px;
  &--opentime{
    color: green;
  }
  &--closetime{
    color: darkgoldenrod;
  }
}
.price{
  text-align: center;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: #f8f8f8 1px solid;
  span{
    vertical-align: middle;
  }
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.result-image:hover .overlay {
  width: 100%;
  left: 0;
}
