.productItem {
  align-content: center;
  margin-bottom: 25px;
}

.productItem__image {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 3px;
  text-align: center;
}

.productItem__image img {
  width: 75px;
  height: 60px;
}

.productItem__image span {
  margin-left: 7%;
}

.productItem__image span i:hover {
  cursor: pointer;
}

.productItem__image__major {
  padding-left: 45px;
  height: 180px;
}

.productItem__image__minor {
  margin-left: -22px;
  margin-right: -22px;
  height: 120px;
}

.productItem__info {
  position: relative;
}

.productItem__info div {
  line-height: 2.5em;
  padding: 3px;
}

.productItem__info div label {
  width: 31%;
}

.productItem__info div input, .productItem__info div select {
  position: absolute;
  margin-left: 3%;
  width: 55%;
  border-radius: 4px;
  display: inline-block;
}

.productItem__submit {
  text-align: center;
  line-height: 2em;
  padding-top: 5%;
}

.productItem__submit button {
  font-size: 1em;
  margin-bottom: 5px;
  line-height: 1.4em;
  padding: 5px;
}

.productItem__submit button:first-child {
  margin-left: 17%;
}
