.productItem {
    align-content: center;
    margin-bottom: 25px;
    &__image {
        // width:230px;
        // height: 330px;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border-radius: 3px;
        text-align: center;
        .deleteBtn {
            margin-top: 30%;
        }
        img{
            height:60px;
            border-radius: 10px
        }
        span {
            margin-left: 45%;
            i:hover {
                cursor: pointer;
            }
        }
        file-upload {
            // height: 70px;
            // width: 75px;
        }   
        &__major {
            padding-left: 45px;
            height:180px
        }
        &__minor {
            margin-left: -22px;
            margin-right: -22px;
            height: 120px;
            // div {
            //     height: 100px
            // }
        }
    }
    
    &__info {
        position: relative;
        div {
            line-height: 2.5em;
            padding: 3px;
            label {
                width: 31%;
            }
            input, select { 
                position: absolute;
                margin-left: 8%;
                width:55%;
                border-radius: 4px;
                display: inline-block
            } 
            span {
                position: absolute;
                top: 53px;
            }
        }
        
    }

    &__submit {
        text-align: center;
        line-height: 2em;
        padding-top:5%;
        button {
            font-size: 1em;
            margin-bottom:5px;
            line-height: 1.4em;
            padding: 5px
        }
        button:first-child{
            margin-left:17%
        }
    }
}
