<form [formGroup]="user" (ngSubmit)="onSubmit()">
    <div>
      <input type="password" formControlName="oldPassword" class="form-control input-lg" placeholder="Old Password...">
      <i class="fa fa-unlock-alt fa-2x"></i>
    </div>

    <div>
      <input type="password" formControlName="newPassword" class="form-control input-lg" placeholder="New Password...">
      <i class="fa fa-lock fa-2x"></i>
    </div>

    <div>
      <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Confirm New Password...">
      <i class="fa fa-lock fa-2x"></i>
    </div>
    
    <button type="button" class="pull-right" md-raised-button color="primary">Save</button>
</form>
