form div {
  position: relative;
  margin-bottom: 10px;
  padding-left: 10%;
  padding-right: 10%;
}

form div input {
  margin: auto;
}

form div i {
  position: absolute;
  right: 12%;
  top: 10px;
}

form button {
  top: 60px;
  right: 10%;
}
