<p>
  wish-list works!
</p>
<div class="col-xs-12 col-sm-12 wishList">
  <div class="row wishList__header">
    <h2>Món Yêu Thích</h2>
  </div>
  <div class="row wishList__content">
    <div class="col-xs-6 col-sm-6">
      <product-item></product-item>
    </div>
    <div class="col-xs-6 col-sm-6">
      <product-item></product-item>
    </div>
  </div>
  <div class="row wishList__loadMore"><a href="#" class="pull-right">Xem thêm</a></div>

  <div class="row wishList__header">
      <h2>Cửa Hàng yêu thích</h2>
    </div>
    <div class="row wishList__content">
      <div class="col-xs-6 col-sm-6">
        <product-item></product-item>
      </div>
      <div class="col-xs-6 col-sm-6">
        <product-item></product-item>
      </div>
    </div>
    <div class="row wishList__loadMore"><a href="#" class="pull-right">Xem thêm</a></div>
</div>