<div class="open-store col-xs-12 col-sm-6 col-sm-offset-3">

  <h2>Mở Cửa Hàng</h2>
  <div class="modal-body form-open-store ">
    <form [formGroup]="store" (ngSubmit)="onSubmit(store)">
      <div>
        <input type="text" formControlName="email" class="form-control input-lg" placeholder="Email...">
        <i class="fa fa-envelope fa-2x"></i>
      </div>

      <div>
        <input type="password" formControlName="password" class="form-control input-lg" placeholder="Mật Khẩu...">
        <i class="fa fa-lock fa-2x"></i>
      </div>

      <div>
        <input type="password" formControlName="confirmPassword" class="form-control input-lg" placeholder="Xác Nhận Mật Khẩu...">
        <i class="fa fa-lock fa-2x"></i>
      </div>

      <div>
        <input type="text" formControlName="name" class="form-control input-lg" placeholder="Tên Cửa Hàng...">
        <i class="fa fa-user fa-2x"></i>
      </div>

      <div>
        <input type="text" formControlName="address" class="form-control input-lg" placeholder="Địa chỉ Cửa hàng...">
        <i class="fa fa-user-circle fa-2x"></i>
      </div>

      <div class="address">
        <a href="#"><span class="fa fa-plus pull-left"></span>Thêm Địa chỉ</a>
      </div>

      <div>
        <input type="select" formControlName="address" class="form-control input-lg" placeholder="Địa chỉ Cửa hàng...">
        <i class="fa fa-user-circle fa-2x"></i>
      </div>

      <div>
        <div><label for="">Ảnh đại diện</label></div>
        <div><span class="fa fa-picture-o fa-5x"></span></div>
      </div>

      <div>
        <md-checkbox>Tôi đã đọc và chấp nhận những điều khoản của iFoody.</md-checkbox>
      </div>

      <button type="submit" class="btn btn-primary btn-signup btn-lg col-xs-12 col-sm-4 col-sm-offset-2">ĐĂNG KÝ</button>
      <button type="submit" class="btn btn-default btn-signup btn-lg col-xs-12 col-sm-4 ">HỦY</button>
    </form>
  </div>
</div>