.listCategory {
  height: auto;
}

.listCategory h3 {
  font-size: 2em;
  font-weight: bold;
  color: #484848;
  margin-top: 30px;
  margin-bottom: 30px;
}

.listCategory .category--border {
  border-bottom: solid 1.2px rgba(233, 232, 230, 0.95);
}

@media screen and (max-width: 480px) {
  .listCategory .category__row div {
    width: 100%;
  }
}

.listCategory .seeMoreBtn {
  float: right;
  cursor: pointer;
}

.listCategory .seeMoreBtn i:hover {
  color: #337ab7;
}
