.listCategory{
    height:auto;
    h3{
        font-size: 2em;
        font-weight: bold;
        color: #484848;
        margin-top: 30px;
        margin-bottom: 30px
    }
    .category{
        &--border{
            border-bottom: solid 1.2px rgba(233, 232, 230, 0.95);            
        }
        &__row{
            div{
                @media screen and (max-width: 480px) {
                    width: 100%;
                }
            }
        }
    }
    .seeMoreBtn{
        float:right;
        cursor: pointer;
        i:hover{
            color: #337ab7;
        }
    }
}