<div class="container">
  <div class="row listCategory">
    <div class="col-md-12" *ngFor="let group of products; let i=index">
      <p>{{group.results[0].category.name}}</p>
      <div class="row category" [ngClass]="[i < products.length-1 ? 'category--border' : '']">
        <div class="col-md-12 category__row">
          <div class="row">
            <div class="col-sm-4 col-xs-6" *ngFor="let p of group.results">
              <div class="row">
                <product-item [productId]="p.product.id"></product-item>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>