<div>
    <div class="modal-body form-store-profile">
      <form [formGroup]="storeForm" (ngSubmit)="onSubmit()">
        <div>
          <div><label for="">Ảnh đại diện</label></div>
          <div class="container">
            <div class="row image">
              <!-- <div *ngFor="let image of images" class="col-md-2 col-sm-4 col-xs-6 image"> -->
                  <div [id]="image?.id" class="col-md-2 col-sm-4 col-xs-6" *ngFor="let image of images">
                      <img [src]="imageDomain + image?.path" [alt]="image?.name">
                      <div (click)="deleteImage(image?.id)">Xóa</div>
                  </div>
                  <!-- <file-upload class="col-md-2 col-sm-4 col-xs-6" [imageSrc]="imageDomain + images[0]?.path" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
                  <file-upload class="col-md-2 col-sm-4 col-xs-6" [imageSrc]="imageDomain + images[1]?.path" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
                  <file-upload class="col-md-2 col-sm-4 col-xs-6" [imageSrc]="imageDomain + images[2]?.path" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
                  <file-upload class="col-md-2 col-sm-4 col-xs-6" [imageSrc]="imageDomain + images[3]?.path" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload> -->
                  <file-upload class="fileUploadComponent col-md-2 col-sm-4 col-xs-6" *ngFor="let index of fileUploadComponentQuantity" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
                <!-- <img [src]="imageDomain + image.path"  alt="Image Product" *ngIf="images.length > 0">
                <img [src]="imageDefault"  alt="Image Product" *ngIf="images.length == 0">      -->
              <!-- </div> -->
            </div>
            <div class="row">
                <p style="font-style: italic">Nhấp vào hình để thay đổi</p>
            </div>
          </div>
        </div>
      
        <div class="test image1">
          
        </div>
      
        <div>
          <label for="">Tên Cửa Hàng</label>
          <input type="text" formControlName="name" class="form-control input-lg" placeholder="Tên cửa hàng...">
          <i class="fa fa-envelope fa-2x"></i>
        </div>
  
        <div>
            <label for="">Loại</label>
            <!-- <input type="hidden" formControlName="categoryId" class="form-control input-lg" placeholder="Chưa xác định"> -->
            <select class="form-control input-lg"  formControlName="categoryId">
                <option  *ngFor="let category of categories" [ngValue]="category.id">{{ category.name }}</option>
              </select>
            <i class="fa fa-user-circle fa-2x"></i>
        </div>
  
        <div>
          <label for="">Đánh giá</label>
          <input formControlName="rating" class="form-control input-lg" placeholder="0">
          <i class="fa fa-lock fa-2x"></i>
        </div>
  
        <div>
            <label for="">Số lượt Đánh giá</label>
            <input formControlName="ratingCount" class="form-control input-lg" placeholder="0">
            <i class="fa fa-lock fa-2x"></i>
        </div>

        <div>
          <label for="">Giờ mở cửa</label>
          <input type="text" formControlName="openHour" class="form-control input-lg" placeholder="Giờ mở cửa...">
          <i class="fa fa-lock fa-2x"></i>
        </div>
  
        <div>
          <label for="">Giờ đóng cửa</label>
          <input type="text" formControlName="closeHour" class="form-control input-lg" placeholder="Giờ đóng cửa...">
          <i class="fa fa-user fa-2x"></i>
        </div>
  
        <div>
          <label for="">Giá thấp nhất</label>
          <input type="text" formControlName="lowestPrice" class="form-control input-lg" placeholder="Giá thấp nhất...">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>

        <div>
            <label for="">Giá cao nhất</label>
            <input type="text" formControlName="highestPrice" class="form-control input-lg" placeholder="Giá cao nhất...">
            <i class="fa fa-user-circle fa-2x"></i>
        </div>

        <div>
            <label for="">Ngày tạo cửa hàng</label>
            <input type="text" formControlName="registrationDate" class="form-control input-lg" placeholder="Chưa xác định">
            <i class="fa fa-user-circle fa-2x"></i>
        </div>
  
        <div>
          <label for="">Mô tả cửa hàng</label>
          <input type="text" style="padding-right:50px" formControlName="description" class="form-control input-lg" placeholder="Mô tả...">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
        
        <div>
          <label for="">Địa chỉ</label>
          <input type="text" formControlName="address" class="form-control input-lg" placeholder="Địa chỉ...">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>

        <div>
          <label for="">Quận</label>
          <input type="text" formControlName="district" class="form-control input-lg" placeholder="Quận...">
          <i class="fa fa-user-circle fa-2x"></i>
        </div>
  
        <div>
            <label for="">Thành phố</label>
            <input type="text" formControlName="city" class="form-control input-lg" placeholder="Thành phố...">
            <i class="fa fa-user-circle fa-2x"></i>
        </div>
  
        <button type="submit" class="btn btn-primary btn-update btn-lg col-xs-12 col-sm-4 col-sm-offset-2">CẬP NHẬT</button>
        <button type="button" (click)="backToGeneral()" class="btn btn-default btn-lg col-xs-12 col-sm-4 ">HỦY</button>
      </form>
    </div>
  </div>