.modal-dialog {
    margin-top: 15%;    
    background-color: white;
    opacity:1;
    // background-color:rgba(0, 0, 0, 0.5);
    @media screen and (max-width: 768px) {
        .btn {
            line-height:100% !important;
        }    
    }
    
    @media screen and (min-width: 1050px) {
        width: 40% !important; 
        .btn {
            line-height:190% !important;
        }
    }

    @media screen and (max-width: 1050px) {
        width: 65% !important;
        top: 100px;
        // bottom: 0;
        // left: 0;
        // right: 0;
        margin: auto;
        .btn {
            line-height:190% !important;
        }
    }
}

.modal {
    background-color: #807474;
    opacity: 0.95;
    .modal-content {
        border-radius: 1px !important;
    }
} 



.btn-signup-facebook, .btn-signup-google {
    width: 100%;
    margin-top: 4px;
    i {
        margin-right: 10px;
    }
}
.form-signup-by-email {
    .btn-signup-facebook, .btn-signup-google {
        width: 46%;
    }

}

.btn-signup-email {
    background-color: #ff5a5f;
    color: white;   
    width: 100%
}

.fa-times {
    -webkit-text-stroke: 3px white;
}

.form-signup, .form-signup-by-email {
    .line-signup {
        height:40px;
        text-align: center;
        position: relative;
        div {
            position: absolute;
            height:0.4px;
            width:100%;
            margin-top: 20px;
            border-top: 0.4px solid #E9DEDE; 
        }
        span {
            position: absolute;
            line-height:40px;
            width:40px;
            background-color: white;
            margin-left: -20px;
        } 
    }
}

.form-signup-by-email {
    .line-signup {
        height:30px;
        div {
            height:20px;
            margin-top: 10px;
        }
        span {
            line-height:20px;
        } 
    }
    i {
        position: absolute;
        right: 15px;
        bottom:8px;
        color: #4B4747;
    }
    div {
        position: relative;
        margin-bottom: 10px
    }
    .fa-times {
        top: 6px;
        z-index: 1000
    }
}
.signup-social {
    height:22px;
        text-align: center;
}


p {
    text-align: center
}

input[type="checkbox"] {
    width:15px;
    height:15px;
    display: inline-block;  
}


// .example-button-row {
//     display: flex;
//     align-items: center;
//     justify-content: space-around;
//   }
//   .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
