.modal-dialog {
  margin-top: 15%;
  background-color: white;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .modal-dialog .btn {
    line-height: 100% !important;
  }
}

@media screen and (min-width: 1050px) {
  .modal-dialog {
    width: 40% !important;
  }
  .modal-dialog .btn {
    line-height: 190% !important;
  }
}

@media screen and (max-width: 1050px) {
  .modal-dialog {
    width: 65% !important;
    top: 100px;
    margin: auto;
  }
  .modal-dialog .btn {
    line-height: 190% !important;
  }
}

.modal {
  background-color: #807474;
  opacity: 0.95;
}

.modal .modal-content {
  border-radius: 1px !important;
}

.btn-signup-facebook, .btn-signup-google, .btn-signup {
  width: 100%;
  margin-top: 4px;
}

.btn-signup-facebook i, .btn-signup-google i, .btn-signup i {
  margin-right: 10px;
}

.form-signup-by-email .btn-signup-facebook, .form-signup-by-email .btn-signup-google {
  width: 46%;
}

.btn-signup-email {
  background-color: #ff5a5f;
  color: white;
  width: 100%;
}

.fa-times {
  -webkit-text-stroke: 3px white;
}

.form-signup .line-signup, .form-signup-by-email .line-signup {
  height: 40px;
  text-align: center;
  position: relative;
}

.form-signup .line-signup div, .form-signup-by-email .line-signup div {
  position: absolute;
  height: 0.4px;
  width: 100%;
  margin-top: 20px;
  border-top: 0.4px solid #E9DEDE;
}

.form-signup .line-signup span, .form-signup-by-email .line-signup span {
  position: absolute;
  line-height: 40px;
  width: 40px;
  background-color: white;
  margin-left: -20px;
}

.form-signup-by-email .line-signup {
  height: 30px;
}

.form-signup-by-email .line-signup div {
  height: 20px;
  margin-top: 10px;
}

.form-signup-by-email .line-signup span {
  line-height: 20px;
}

.form-signup-by-email i {
  position: absolute;
  right: 15px;
  bottom: 8px;
  color: #4B4747;
}

.form-signup-by-email div {
  position: relative;
  margin-bottom: 10px;
}

.form-signup-by-email .fa-times {
  top: 6px;
  z-index: 1000;
}

.signup-social {
  height: 22px;
  text-align: center;
}

p {
  text-align: center;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  display: inline-block;
}
