.storeDetailInfo__main h2 {
  height: 40px;
}

@media screen and (max-width: 823px) {
  .storeDetailInfo__main h2 {
    max-height: 65px !important;
  }
}

.storeDetailInfo__main div {
  position: relative;
  line-height: 200%;
}

.storeDetailInfo__main div span {
  position: absolute;
  left: 18px;
}

.storeDetailInfo__main .type {
  display: table;
  vertical-align: middle;
}

@media screen and (max-width: 992px) {
  .storeDetailInfo__main .rating {
    font-size: 0.8em !important;
  }
}

@media screen and (max-width: 823px) {
  .storeDetailInfo__main .rating {
    font-size: 0.72em !important;
  }
}

@media screen and (max-width: 768px) {
  .storeDetailInfo__main .rating {
    font-size: 1em !important;
  }
}

@media screen and (max-width: 524px) {
  .storeDetailInfo__main .rating {
    font-size: 0.8em !important;
  }
}

.storeDetailInfo__main .others div {
  padding-left: 38px;
}

.storeDetailInfo__main .photo__main {
  overflow: hidden;
  text-align: center;
  height: auto;
}

.storeDetailInfo__main .photo__main img {
  max-height: 250px;
  box-shadow: 2px 2px 2px #A095A3;
  width: 100%;
  height: 290px;
}

.storeDetailInfo__main .photo__minor {
  text-align: center;
  height: auto;
}

.storeDetailInfo__main .photo__minor div {
  margin-top: 3px;
  overflow: hidden;
  padding: 15px 5px !important;
}

.storeDetailInfo__main .photo__minor img {
  max-height: 70px;
  width: auto;
  height: 70px;
}

@media screen and (min-width: 768px) {
  .storeDetailInfo__map {
    margin-top: 160px;
  }
}
