<div class="storeDetailInfo col-xs-12 col-sm-12">
  <!-- <div class="row">
    <div class="storeDetailInfo__main col-xs-12 col-sm-6">
      
      <h2>{{ storeModel?.store.name }}</h2>

      <div class="row">
        <div class="type col-xs-4 col-sm-4"> {{ storeModel?.category.name }}</div>
        <div class="rating col-xs-8 col-sm-8">
          <bs-rating [rating]="storeModel?.rating" [ratingCount]="storeModel?.ratingCount"></bs-rating>
        </div>

      </div>



      <div class="others row">
        <div><span><i class="fa fa-location-arrow fa-1x"></i></span>{{ storeModel?.store.address }}</div>
        <div><span><i class="fa fa-clock-o fa-1x"></i></span>{{ storeModel?.store.openHour }} - {{ storeModel?.store.closeHour }}</div>
        <div><span><i class="fa fa-money fa-1x"></i></span>{{ storeModel?.store.price }}</div>
      </div>

      <div class="photo row">
        <div class="photo__main col-xs-12 col-sm-12">
          <img [src]="storeModel?.images[0].path" alt="">
        </div>

        <div class="photo__minor col-xs-12 col-sm-12">
          <div class="row">
            <div class="col-xs-3 col-sm-3" *ngFor="let image of storeModel?.images">
              <img [src]="image.path" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="storeDetailInfo__map col-xs-12 col-sm-5">
      <map [storeIds]="[storeModel?.store.id]"></map>
    </div>
  </div> -->
</div>