#myCarousel, .carousel-inner {
  overflow: hidden;
}

@media screen and (min-width: 920px) {
  #myCarousel, .carousel-inner {
    height: 550px;
  }
  #myCarousel > div, .carousel-inner > div {
    height: 550px;
  }
}

@media screen and (max-width: 919px) {
  #myCarousel, .carousel-inner {
    height: 300px;
  }
  #myCarousel > div, .carousel-inner > div {
    height: 300px;
  }
}

@media screen and (max-width: 524px) {
  #myCarousel, .carousel-inner {
    height: 240px;
  }
  #myCarousel > div, .carousel-inner > div {
    height: 240px;
  }
}

#myCarousel img, .carousel-inner img {
  height: auto;
  width: 100%;
}

#myCarousel ol li, .carousel-inner ol li {
  display: none;
}

#myCarousel h3, .carousel-inner h3 {
  color: white;
  font-size: 2.9em;
  text-shadow: -1px 0 blue, 0 1px blue, 1px 0 blue, 0 -1px blue;
}

#myCarousel p, .carousel-inner p {
  color: white;
  font-size: 1.8em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
