.searchResult__pagination {
  text-align: center;
}

.searchResult .resultNumber {
  margin-top: 20px;
  text-align: center;
  color: #3a58fb;
}

.panel-heading {
  padding-top: 7px;
  padding-bottom: 23px;
}

@media only screen and (max-width: 500px) {
  .item {
    width: 100% !important;
  }
}
