.searchResult {
    &__pagination {
        text-align: center;
    }
    .resultNumber{
      margin-top: 20px;
      text-align: center;
      color: #3a58fb;
    }
}
@media only screen and (max-width: 500px) {
  .item {
    width: 100%!important;
  }
}
