.form-edit-profile i {
  position: absolute;
  right: 15px;
  bottom: 8px;
  color: #4B4747;
}

.form-edit-profile div {
  position: relative;
  margin-bottom: 10px;
}

.form-edit-profile .button {
  width: 100%;
  padding-left: 20%;
}

.form-edit-profile #gender {
  display: none;
}

.form-edit-profile .btn-update, .form-edit-profile .btn-cancel {
  line-height: 25px !important;
  font-size: 1.3em !important;
  margin-right: 20px;
  width: 30%;
}
