.iFoodyNav{
    #logoApp{
        width: 50px;
        height: 50px;
    }
}
.navbar{
    margin-bottom: 5px;
}
.navbar-brand a, .navbar-brand img {
    display: inline-block;
    // width: 45%
}
.navbar-brand{
    padding-top: 0px;
    color: white;
}
.navbar-brand:hover{
    font-weight: bold;
}
.navbar-inverse{
    background-color: #31708f;
    border-color: #31708f;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover{
    font-weight: bold;
}
#searchBar{
    float: right;
    padding-top: 10px;
    height: 55px;
}
#myNavbar{
    float: right;
}