.iFoodyNav{
    overflow: hidden;
    #logoApp{
        width: 50px;
        height: 50px;
    }
}
.navbar{
    margin-bottom: 0px  
}
.navbar-brand > span {
    font-size: 0.80em;   
}
.navbar-brand a, .navbar-brand img {
    display: inline-block;   
   
}
.navbar-brand, .navbar-collapse {
    padding-top: 0px;
    color: white;
    @media screen and (max-width: 991px) {
        span {
            display: none
        }
    }
}
.navbar-brand:hover{
    font-weight: bold;
}
.navbar-inverse{
    background-color: #31708f;
    border-color: #31708f;
}
.navbar-inverse .navbar-nav > li > a{
    color: white;
}
.navbar-inverse .navbar-nav > li > a:hover{
    font-weight: bold;
}
.searchBar{
    float: right;
    padding-top: 10px;
    height: 55px;
}
.navbar-right{
    margin-right: 0px;
}
#myNavbar{
    float: right;
    background-color: #31708F; //Tuan edit
}

.navbar-header > span:first-child {
    display: none;
}
.searchBar-mobile {
    display: none;
}
@media screen and (max-width: 465px) {
    .searchBar {
        display: none;
    }
    .searchBar-mobile {
        display: block;
        //background-color: #31708F;
    }
}
.navbar-collapse {
    margin-right:0px !important
}