.iFoodyNav{
    #logoApp{
        width: 50px;
        height: 50px;
    }
}
.navbar-brand a, .navbar-brand img {
    display: inline-block;
    // width: 45%
}
.navbar-brand{
    padding-top: 0px;
}
.navbar-inverse{
    background-color: #31708f;
    border-color: #31708f;
    min-height: 55px;
}
#searchBar{
    float: right;
    padding-top: 10px;
}
#myNavbar{
    float: right;
}