<div class="product-upload col-sm-6 col-xs-12">
  <h2><a [routerLink]="['/store', enCodeUrl(storeId)]">{{ storeName }} </a></h2>
  <form [formGroup]="uploadProductForm"  (ngSubmit)="onSubmit($event)">

    <div>
      <input type="text" formControlName="name" class="form-control input-lg" placeholder="Tên sản phẩm...">
    </div>

    <div>
      <select formControlName="categoryId" class="form-control input-lg" (change)="select()">
        <option [ngValue]="null" disabled hidden>Loại sản phẩm</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <div>
        <input formControlName="price"  type="number" class="form-control input-lg" placeholder="Giá sản phẩm...VNĐ">
      <!-- <select formControlName="price" class="form-control input-lg">
          <option [ngValue]="null" disabled hidden>Giá sản phẩm</option>
          <option *ngFor="let price of listPrice" [value]="price.value">
            {{ price.viewValue }} VNĐ
          </option>
      </select> -->
    </div>

    <div class="row chooseFile">
      <p> Ảnh sản phẩm </p>
      <!-- <file-upload  formControlName="image" (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload> -->
      <file-upload class="col-md-4"  (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
      <file-upload class="col-md-4"  (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
      <file-upload class="col-md-4"  (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
      <file-upload class="col-md-4"  (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
      <file-upload class="col-md-4"  (imageContent)="handleFile($event)" [activeColor]="'orangered'" [baseColor]="'lightgray'"></file-upload>
      <!-- <ng-template #newUpload></ng-template> -->
        <!-- <span><a class="addNewComponent" (click)="addNewComponentEvent()">Thêm ảnh</a></span> -->
    </div>

    <div>
      <textarea rows='7' type="text" formControlName="description" class="form-control input-lg" placeholder="Thêm mô tả sản phẩm"></textarea>
    </div>


    <div class="settingBtn">
      <button type="submit" (click)="onSubmit($event)" class="btn btn-primary btn-lg col-xs-12 col-sm-4 col-sm-offset-2 btn-upload" md-raised-button color="primary">Thêm sản phẩm</button>
      <button type="button" class="btn btn-default btn-lg col-xs-12 col-sm-4 btn-cancel" md-raised-button color="link">Hủy</button>
    </div>
  </form>
</div>
