<div class="container">
    App components works!!!!

    <!-- Nhét Component vào dưới này để test nè. Chưa cần add vào App.Routing.ts để test đâu -->
    /////////////////////////////////////////////////////////////////////////////////////////// <br>
<login></login>
<signup></signup>

    <br>/////////////////////////////////////////////////////////////////////////////////////////// <br>


</div>










<!-- This is Component của Tuấn. Please đừng đụng dô!!!! -->

<!-- Test product-item -->
<!-- <div  style="width:30%;margin-left:20%">
        <product-item></product-item>
    </div> -->