<div class="container-fluid no-pad-left-right">

    <bs-navbar></bs-navbar>

    <div class="app-content row">
        <!-- Nhét Component vào dưới này để test nè. Chưa cần add vào App.Routing.ts để test đâu -->
        <!-- <home></home> -->
        <!-- <admin-layout></admin-layout> -->
        <!-- <admin-user></admin-user> -->
        <admin-product></admin-product>
    </div>

    <footer></footer>
    <!--<signup-by-email></signup-by-email> -->
</div>









<!-- This is Component của Tuấn. Please đừng đụng dô!!!! -->

<!-- Test product-item -->
<!-- <div  style="width:30%;margin-left:20%">
        <product-item></product-item>
    </div> -->