$good : #24A11F;
$fair : #8df723;
$medium: rgba(253, 170, 76, 0.96);
$bad: #ff0005;
$empty: #C5D4E6;
$filled: #4B95E9;
div {
    position: relative  ;
    font-size: 1.5em;
    text-align: center;
    
}

.star {
    font-size: 1.5rem;
    color: $empty;
    transform: scale(0.6,0.6);
    
}

.number {
    color:white;
    font-size: 0.9em;
    transform: scale(0.8,0.8);
}

.filled {
    color: $filled;
    transform: scale(0.6,0.6);
}

span[class^="fa-"] {
    margin-bottom: 10px
}

.good {
    color: $good;
}

.fair {
    color: $fair;
}

.medium {
    color: $medium;
}

.bad {
    color: $bad;
}

.ratingCount {
    font-size: 0.8em;
    margin-top: -11px;
    transform: scale(0.8,0.8);
    a:hover {
        text-decoration: none;
    }
}